.emojione-1F004 {
  background: url('activity.sprites.png') -24px 0px;
}
.emojione-1F0CF {
  background: url('activity.sprites.png') 0px -120px;
}
.emojione-1F39E {
  background: url('activity.sprites.png') 0px -24px;
}
.emojione-1F39F {
  background: url('activity.sprites.png') -24px -24px;
}
.emojione-1F3A0 {
  background: url('activity.sprites.png') -48px 0px;
}
.emojione-1F3A1 {
  background: url('activity.sprites.png') -48px -24px;
}
.emojione-1F3A2 {
  background: url('activity.sprites.png') 0px -48px;
}
.emojione-1F3A3 {
  background: url('activity.sprites.png') -24px -48px;
}
.emojione-1F3A4 {
  background: url('activity.sprites.png') -48px -48px;
}
.emojione-1F3A7 {
  background: url('activity.sprites.png') -72px 0px;
}
.emojione-1F3A8 {
  background: url('activity.sprites.png') -72px -24px;
}
.emojione-1F3A9 {
  background: url('activity.sprites.png') -72px -48px;
}
.emojione-1F3AA {
  background: url('activity.sprites.png') 0px -72px;
}
.emojione-1F3AB {
  background: url('activity.sprites.png') -24px -72px;
}
.emojione-1F3AC {
  background: url('activity.sprites.png') -48px -72px;
}
.emojione-1F3AD {
  background: url('activity.sprites.png') -72px -72px;
}
.emojione-1F3AE {
  background: url('activity.sprites.png') -96px 0px;
}
.emojione-1F3AF {
  background: url('activity.sprites.png') -96px -24px;
}
.emojione-1F3B0 {
  background: url('activity.sprites.png') -96px -48px;
}
.emojione-1F3B1 {
  background: url('activity.sprites.png') -96px -72px;
}
.emojione-1F3B2 {
  background: url('activity.sprites.png') 0px -96px;
}
.emojione-1F3B3 {
  background: url('activity.sprites.png') -24px -96px;
}
.emojione-1F3B4 {
  background: url('activity.sprites.png') -48px -96px;
}
.emojione-1F3B5 {
  background: url('activity.sprites.png') -72px -96px;
}
.emojione-1F3B6 {
  background: url('activity.sprites.png') -96px -96px;
}
.emojione-1F3B7 {
  background: url('activity.sprites.png') -120px 0px;
}
.emojione-1F3B8 {
  background: url('activity.sprites.png') -120px -24px;
}
.emojione-1F3B9 {
  background: url('activity.sprites.png') -120px -48px;
}
.emojione-1F3BA {
  background: url('activity.sprites.png') -120px -72px;
}
.emojione-1F3BB {
  background: url('activity.sprites.png') -120px -96px;
}
.emojione-1F3BC {
  background: url('activity.sprites.png') 0px 0px;
}
.emojione-1F3BD {
  background: url('activity.sprites.png') -24px -120px;
}
.emojione-1F3BE {
  background: url('activity.sprites.png') -48px -120px;
}
.emojione-1F3BF {
  background: url('activity.sprites.png') -72px -120px;
}
.emojione-1F3C0 {
  background: url('activity.sprites.png') -96px -120px;
}
.emojione-1F3C1 {
  background: url('activity.sprites.png') -120px -120px;
}
.emojione-1F3C2 {
  background: url('activity.sprites.png') -144px 0px;
}
.emojione-1F3C3 {
  background: url('activity.sprites.png') -144px -24px;
}
.emojione-1F3C4 {
  background: url('activity.sprites.png') -144px -48px;
}
.emojione-1F3C5 {
  background: url('activity.sprites.png') -144px -72px;
}
.emojione-1F3C6 {
  background: url('activity.sprites.png') -144px -96px;
}
.emojione-1F3C7 {
  background: url('activity.sprites.png') -144px -120px;
}
.emojione-1F3C8 {
  background: url('activity.sprites.png') 0px -144px;
}
.emojione-1F3C9 {
  background: url('activity.sprites.png') -24px -144px;
}
.emojione-1F3CA {
  background: url('activity.sprites.png') -48px -144px;
}
.emojione-1F3CB {
  background: url('activity.sprites.png') -72px -144px;
}
.emojione-1F3CC {
  background: url('activity.sprites.png') -96px -144px;
}
.emojione-1F3CD {
  background: url('activity.sprites.png') -120px -144px;
}
.emojione-1F3CE {
  background: url('activity.sprites.png') -144px -144px;
}
.emojione-1F483 {
  background: url('activity.sprites.png') -168px 0px;
}
.emojione-1F6A3 {
  background: url('activity.sprites.png') -168px -24px;
}
.emojione-1F6B4 {
  background: url('activity.sprites.png') -168px -48px;
}
.emojione-1F6B5 {
  background: url('activity.sprites.png') -168px -72px;
}
.emojione-1F6B6 {
  background: url('activity.sprites.png') -168px -96px;
}
.emojione-1F6C0 {
  background: url('activity.sprites.png') -168px -120px;
}
.emojione-26BD {
  background: url('activity.sprites.png') -168px -144px;
}
.emojione-26BE {
  background: url('activity.sprites.png') 0px -168px;
}
.emojione-26C4 {
  background: url('activity.sprites.png') -24px -168px;
}
.emojione-26F3 {
  background: url('activity.sprites.png') -48px -168px;
}
.emojione-26FA {
  background: url('activity.sprites.png') -72px -168px;
}
