.emojione-1F004 {
  background: url('activity.sprites.png') ((24px * 100 / (192px * (35/36))))#{"%"} ((0px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F0CF {
  background: url('activity.sprites.png') ((0px * 100 / (192px * (35/36))))#{"%"} ((120px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F39E {
  background: url('activity.sprites.png') ((0px * 100 / (192px * (35/36))))#{"%"} ((24px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F39F {
  background: url('activity.sprites.png') ((24px * 100 / (192px * (35/36))))#{"%"} ((24px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3A0 {
  background: url('activity.sprites.png') ((48px * 100 / (192px * (35/36))))#{"%"} ((0px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3A1 {
  background: url('activity.sprites.png') ((48px * 100 / (192px * (35/36))))#{"%"} ((24px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3A2 {
  background: url('activity.sprites.png') ((0px * 100 / (192px * (35/36))))#{"%"} ((48px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3A3 {
  background: url('activity.sprites.png') ((24px * 100 / (192px * (35/36))))#{"%"} ((48px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3A4 {
  background: url('activity.sprites.png') ((48px * 100 / (192px * (35/36))))#{"%"} ((48px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3A7 {
  background: url('activity.sprites.png') ((72px * 100 / (192px * (35/36))))#{"%"} ((0px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3A8 {
  background: url('activity.sprites.png') ((72px * 100 / (192px * (35/36))))#{"%"} ((24px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3A9 {
  background: url('activity.sprites.png') ((72px * 100 / (192px * (35/36))))#{"%"} ((48px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3AA {
  background: url('activity.sprites.png') ((0px * 100 / (192px * (35/36))))#{"%"} ((72px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3AB {
  background: url('activity.sprites.png') ((24px * 100 / (192px * (35/36))))#{"%"} ((72px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3AC {
  background: url('activity.sprites.png') ((48px * 100 / (192px * (35/36))))#{"%"} ((72px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3AD {
  background: url('activity.sprites.png') ((72px * 100 / (192px * (35/36))))#{"%"} ((72px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3AE {
  background: url('activity.sprites.png') ((96px * 100 / (192px * (35/36))))#{"%"} ((0px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3AF {
  background: url('activity.sprites.png') ((96px * 100 / (192px * (35/36))))#{"%"} ((24px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3B0 {
  background: url('activity.sprites.png') ((96px * 100 / (192px * (35/36))))#{"%"} ((48px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3B1 {
  background: url('activity.sprites.png') ((96px * 100 / (192px * (35/36))))#{"%"} ((72px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3B2 {
  background: url('activity.sprites.png') ((0px * 100 / (192px * (35/36))))#{"%"} ((96px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3B3 {
  background: url('activity.sprites.png') ((24px * 100 / (192px * (35/36))))#{"%"} ((96px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3B4 {
  background: url('activity.sprites.png') ((48px * 100 / (192px * (35/36))))#{"%"} ((96px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3B5 {
  background: url('activity.sprites.png') ((72px * 100 / (192px * (35/36))))#{"%"} ((96px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3B6 {
  background: url('activity.sprites.png') ((96px * 100 / (192px * (35/36))))#{"%"} ((96px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3B7 {
  background: url('activity.sprites.png') ((120px * 100 / (192px * (35/36))))#{"%"} ((0px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3B8 {
  background: url('activity.sprites.png') ((120px * 100 / (192px * (35/36))))#{"%"} ((24px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3B9 {
  background: url('activity.sprites.png') ((120px * 100 / (192px * (35/36))))#{"%"} ((48px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3BA {
  background: url('activity.sprites.png') ((120px * 100 / (192px * (35/36))))#{"%"} ((72px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3BB {
  background: url('activity.sprites.png') ((120px * 100 / (192px * (35/36))))#{"%"} ((96px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3BC {
  background: url('activity.sprites.png') ((0px * 100 / (192px * (35/36))))#{"%"} ((0px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3BD {
  background: url('activity.sprites.png') ((24px * 100 / (192px * (35/36))))#{"%"} ((120px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3BE {
  background: url('activity.sprites.png') ((48px * 100 / (192px * (35/36))))#{"%"} ((120px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3BF {
  background: url('activity.sprites.png') ((72px * 100 / (192px * (35/36))))#{"%"} ((120px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3C0 {
  background: url('activity.sprites.png') ((96px * 100 / (192px * (35/36))))#{"%"} ((120px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3C1 {
  background: url('activity.sprites.png') ((120px * 100 / (192px * (35/36))))#{"%"} ((120px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3C2 {
  background: url('activity.sprites.png') ((144px * 100 / (192px * (35/36))))#{"%"} ((0px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3C3 {
  background: url('activity.sprites.png') ((144px * 100 / (192px * (35/36))))#{"%"} ((24px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3C4 {
  background: url('activity.sprites.png') ((144px * 100 / (192px * (35/36))))#{"%"} ((48px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3C5 {
  background: url('activity.sprites.png') ((144px * 100 / (192px * (35/36))))#{"%"} ((72px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3C6 {
  background: url('activity.sprites.png') ((144px * 100 / (192px * (35/36))))#{"%"} ((96px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3C7 {
  background: url('activity.sprites.png') ((144px * 100 / (192px * (35/36))))#{"%"} ((120px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3C8 {
  background: url('activity.sprites.png') ((0px * 100 / (192px * (35/36))))#{"%"} ((144px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3C9 {
  background: url('activity.sprites.png') ((24px * 100 / (192px * (35/36))))#{"%"} ((144px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3CA {
  background: url('activity.sprites.png') ((48px * 100 / (192px * (35/36))))#{"%"} ((144px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3CB {
  background: url('activity.sprites.png') ((72px * 100 / (192px * (35/36))))#{"%"} ((144px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3CC {
  background: url('activity.sprites.png') ((96px * 100 / (192px * (35/36))))#{"%"} ((144px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3CD {
  background: url('activity.sprites.png') ((120px * 100 / (192px * (35/36))))#{"%"} ((144px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F3CE {
  background: url('activity.sprites.png') ((144px * 100 / (192px * (35/36))))#{"%"} ((144px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F483 {
  background: url('activity.sprites.png') ((168px * 100 / (192px * (35/36))))#{"%"} ((0px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F6A3 {
  background: url('activity.sprites.png') ((168px * 100 / (192px * (35/36))))#{"%"} ((24px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F6B4 {
  background: url('activity.sprites.png') ((168px * 100 / (192px * (35/36))))#{"%"} ((48px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F6B5 {
  background: url('activity.sprites.png') ((168px * 100 / (192px * (35/36))))#{"%"} ((72px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F6B6 {
  background: url('activity.sprites.png') ((168px * 100 / (192px * (35/36))))#{"%"} ((96px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-1F6C0 {
  background: url('activity.sprites.png') ((168px * 100 / (192px * (35/36))))#{"%"} ((120px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-26BD {
  background: url('activity.sprites.png') ((168px * 100 / (192px * (35/36))))#{"%"} ((144px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-26BE {
  background: url('activity.sprites.png') ((0px * 100 / (192px * (35/36))))#{"%"} ((168px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-26C4 {
  background: url('activity.sprites.png') ((24px * 100 / (192px * (35/36))))#{"%"} ((168px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-26F3 {
  background: url('activity.sprites.png') ((48px * 100 / (192px * (35/36))))#{"%"} ((168px * 100 / (192px * (35/36))))#{"%"};
}
.emojione-26FA {
  background: url('activity.sprites.png') ((72px * 100 / (192px * (35/36))))#{"%"} ((168px * 100 / (192px * (35/36))))#{"%"};
}
