.emojione-1F380 {
  background: url('celebration.sprites.png') -24px 0px;
}
.emojione-1F381 {
  background: url('celebration.sprites.png') -24px -96px;
}
.emojione-1F382 {
  background: url('celebration.sprites.png') 0px -24px;
}
.emojione-1F383 {
  background: url('celebration.sprites.png') -24px -24px;
}
.emojione-1F384 {
  background: url('celebration.sprites.png') -48px 0px;
}
.emojione-1F386 {
  background: url('celebration.sprites.png') -48px -24px;
}
.emojione-1F387 {
  background: url('celebration.sprites.png') 0px -48px;
}
.emojione-1F388 {
  background: url('celebration.sprites.png') -24px -48px;
}
.emojione-1F389 {
  background: url('celebration.sprites.png') -48px -48px;
}
.emojione-1F38A {
  background: url('celebration.sprites.png') -72px 0px;
}
.emojione-1F38B {
  background: url('celebration.sprites.png') -72px -24px;
}
.emojione-1F38C {
  background: url('celebration.sprites.png') -72px -48px;
}
.emojione-1F38D {
  background: url('celebration.sprites.png') 0px -72px;
}
.emojione-1F38E {
  background: url('celebration.sprites.png') -24px -72px;
}
.emojione-1F38F {
  background: url('celebration.sprites.png') -48px -72px;
}
.emojione-1F390 {
  background: url('celebration.sprites.png') -72px -72px;
}
.emojione-1F391 {
  background: url('celebration.sprites.png') -96px 0px;
}
.emojione-1F393 {
  background: url('celebration.sprites.png') -96px -24px;
}
.emojione-1F394 {
  background: url('celebration.sprites.png') -96px -48px;
}
.emojione-1F395 {
  background: url('celebration.sprites.png') -96px -72px;
}
.emojione-1F396 {
  background: url('celebration.sprites.png') 0px -96px;
}
.emojione-1F397 {
  background: url('celebration.sprites.png') 0px 0px;
}
.emojione-1F3EE {
  background: url('celebration.sprites.png') -48px -96px;
}
.emojione-1F451 {
  background: url('celebration.sprites.png') -72px -96px;
}
.emojione-1F48C {
  background: url('celebration.sprites.png') -96px -96px;
}
.emojione-1F48D {
  background: url('celebration.sprites.png') -120px 0px;
}
.emojione-1F493 {
  background: url('celebration.sprites.png') -120px -24px;
}
.emojione-1F494 {
  background: url('celebration.sprites.png') -120px -48px;
}
.emojione-1F495 {
  background: url('celebration.sprites.png') -120px -72px;
}
.emojione-1F496 {
  background: url('celebration.sprites.png') -120px -96px;
}
.emojione-1F497 {
  background: url('celebration.sprites.png') 0px -120px;
}
.emojione-1F498 {
  background: url('celebration.sprites.png') -24px -120px;
}
.emojione-1F499 {
  background: url('celebration.sprites.png') -48px -120px;
}
.emojione-1F49A {
  background: url('celebration.sprites.png') -72px -120px;
}
.emojione-1F49B {
  background: url('celebration.sprites.png') -96px -120px;
}
.emojione-1F49C {
  background: url('celebration.sprites.png') -120px -120px;
}
.emojione-1F49D {
  background: url('celebration.sprites.png') -144px 0px;
}
.emojione-1F49E {
  background: url('celebration.sprites.png') -144px -24px;
}
.emojione-1F49F {
  background: url('celebration.sprites.png') -144px -48px;
}
.emojione-1F4A5 {
  background: url('celebration.sprites.png') -144px -72px;
}
.emojione-1F4AB {
  background: url('celebration.sprites.png') -144px -96px;
}
.emojione-2728 {
  background: url('celebration.sprites.png') -144px -120px;
}
.emojione-2764 {
  background: url('celebration.sprites.png') 0px -144px;
}
