{
  // Default options
  'functions': true
}

{{#items}}
.{{name}} {
  background: url('{{image}}') (({{px.x}} * 100 / ({{px.total_width}} * (35/36))))#{"%"} (({{px.y}} * 100 / ({{px.total_height}} * (35/36))))#{"%"};
}
{{/items}}