[class*=emojione-] {
  text-indent: -9999em;
  image-rendering: optimizeQuality;
  font-size: inherit;
  height: 24px;
  width: 24px;
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  background-size: 3600%;
}

@import "activity.sprites";
@import "celebration.sprites";
@import "flags.sprites";
@import "food_drink.sprites";
@import "nature.sprites";
@import "objects_symbols.sprites";
@import "people.sprites";
@import "travel_places.sprites";