.emojione-1F336 {
  background: url('food_drink.sprites.png') -24px 0px;
}
.emojione-1F33D {
  background: url('food_drink.sprites.png') -120px -96px;
}
.emojione-1F345 {
  background: url('food_drink.sprites.png') 0px -24px;
}
.emojione-1F346 {
  background: url('food_drink.sprites.png') -24px -24px;
}
.emojione-1F347 {
  background: url('food_drink.sprites.png') -48px 0px;
}
.emojione-1F348 {
  background: url('food_drink.sprites.png') -48px -24px;
}
.emojione-1F349 {
  background: url('food_drink.sprites.png') 0px -48px;
}
.emojione-1F34A {
  background: url('food_drink.sprites.png') -24px -48px;
}
.emojione-1F34B {
  background: url('food_drink.sprites.png') -48px -48px;
}
.emojione-1F34C {
  background: url('food_drink.sprites.png') -72px 0px;
}
.emojione-1F34D {
  background: url('food_drink.sprites.png') -72px -24px;
}
.emojione-1F34E {
  background: url('food_drink.sprites.png') -72px -48px;
}
.emojione-1F34F {
  background: url('food_drink.sprites.png') 0px -72px;
}
.emojione-1F350 {
  background: url('food_drink.sprites.png') -24px -72px;
}
.emojione-1F351 {
  background: url('food_drink.sprites.png') -48px -72px;
}
.emojione-1F352 {
  background: url('food_drink.sprites.png') -72px -72px;
}
.emojione-1F353 {
  background: url('food_drink.sprites.png') -96px 0px;
}
.emojione-1F354 {
  background: url('food_drink.sprites.png') -96px -24px;
}
.emojione-1F355 {
  background: url('food_drink.sprites.png') -96px -48px;
}
.emojione-1F356 {
  background: url('food_drink.sprites.png') -96px -72px;
}
.emojione-1F357 {
  background: url('food_drink.sprites.png') 0px -96px;
}
.emojione-1F358 {
  background: url('food_drink.sprites.png') -24px -96px;
}
.emojione-1F359 {
  background: url('food_drink.sprites.png') -48px -96px;
}
.emojione-1F35A {
  background: url('food_drink.sprites.png') -72px -96px;
}
.emojione-1F35B {
  background: url('food_drink.sprites.png') -96px -96px;
}
.emojione-1F35C {
  background: url('food_drink.sprites.png') -120px 0px;
}
.emojione-1F35D {
  background: url('food_drink.sprites.png') -120px -24px;
}
.emojione-1F35E {
  background: url('food_drink.sprites.png') -120px -48px;
}
.emojione-1F35F {
  background: url('food_drink.sprites.png') -120px -72px;
}
.emojione-1F360 {
  background: url('food_drink.sprites.png') 0px 0px;
}
.emojione-1F361 {
  background: url('food_drink.sprites.png') 0px -120px;
}
.emojione-1F362 {
  background: url('food_drink.sprites.png') -24px -120px;
}
.emojione-1F363 {
  background: url('food_drink.sprites.png') -48px -120px;
}
.emojione-1F364 {
  background: url('food_drink.sprites.png') -72px -120px;
}
.emojione-1F365 {
  background: url('food_drink.sprites.png') -96px -120px;
}
.emojione-1F366 {
  background: url('food_drink.sprites.png') -120px -120px;
}
.emojione-1F367 {
  background: url('food_drink.sprites.png') -144px 0px;
}
.emojione-1F368 {
  background: url('food_drink.sprites.png') -144px -24px;
}
.emojione-1F369 {
  background: url('food_drink.sprites.png') -144px -48px;
}
.emojione-1F36A {
  background: url('food_drink.sprites.png') -144px -72px;
}
.emojione-1F36B {
  background: url('food_drink.sprites.png') -144px -96px;
}
.emojione-1F36C {
  background: url('food_drink.sprites.png') -144px -120px;
}
.emojione-1F36D {
  background: url('food_drink.sprites.png') 0px -144px;
}
.emojione-1F36E {
  background: url('food_drink.sprites.png') -24px -144px;
}
.emojione-1F36F {
  background: url('food_drink.sprites.png') -48px -144px;
}
.emojione-1F370 {
  background: url('food_drink.sprites.png') -72px -144px;
}
.emojione-1F371 {
  background: url('food_drink.sprites.png') -96px -144px;
}
.emojione-1F372 {
  background: url('food_drink.sprites.png') -120px -144px;
}
.emojione-1F373 {
  background: url('food_drink.sprites.png') -144px -144px;
}
.emojione-1F374 {
  background: url('food_drink.sprites.png') -168px 0px;
}
.emojione-1F375 {
  background: url('food_drink.sprites.png') -168px -24px;
}
.emojione-1F376 {
  background: url('food_drink.sprites.png') -168px -48px;
}
.emojione-1F377 {
  background: url('food_drink.sprites.png') -168px -72px;
}
.emojione-1F378 {
  background: url('food_drink.sprites.png') -168px -96px;
}
.emojione-1F379 {
  background: url('food_drink.sprites.png') -168px -120px;
}
.emojione-1F37A {
  background: url('food_drink.sprites.png') -168px -144px;
}
.emojione-1F37B {
  background: url('food_drink.sprites.png') 0px -168px;
}
.emojione-1F37C {
  background: url('food_drink.sprites.png') -24px -168px;
}
.emojione-2615 {
  background: url('food_drink.sprites.png') -48px -168px;
}
