.emojione-1F304 {
  background: url('nature.sprites.png') ((24px * 100 / (288px * (35/36))))#{"%"} ((0px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F305 {
  background: url('nature.sprites.png') ((192px * 100 / (288px * (35/36))))#{"%"} ((72px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F308 {
  background: url('nature.sprites.png') ((0px * 100 / (288px * (35/36))))#{"%"} ((24px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F30A {
  background: url('nature.sprites.png') ((24px * 100 / (288px * (35/36))))#{"%"} ((24px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F30B {
  background: url('nature.sprites.png') ((48px * 100 / (288px * (35/36))))#{"%"} ((0px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F30C {
  background: url('nature.sprites.png') ((48px * 100 / (288px * (35/36))))#{"%"} ((24px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F30D {
  background: url('nature.sprites.png') ((0px * 100 / (288px * (35/36))))#{"%"} ((48px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F30E {
  background: url('nature.sprites.png') ((24px * 100 / (288px * (35/36))))#{"%"} ((48px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F30F {
  background: url('nature.sprites.png') ((48px * 100 / (288px * (35/36))))#{"%"} ((48px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F310 {
  background: url('nature.sprites.png') ((72px * 100 / (288px * (35/36))))#{"%"} ((0px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F311 {
  background: url('nature.sprites.png') ((72px * 100 / (288px * (35/36))))#{"%"} ((24px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F312 {
  background: url('nature.sprites.png') ((72px * 100 / (288px * (35/36))))#{"%"} ((48px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F313 {
  background: url('nature.sprites.png') ((0px * 100 / (288px * (35/36))))#{"%"} ((72px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F314 {
  background: url('nature.sprites.png') ((24px * 100 / (288px * (35/36))))#{"%"} ((72px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F315 {
  background: url('nature.sprites.png') ((48px * 100 / (288px * (35/36))))#{"%"} ((72px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F316 {
  background: url('nature.sprites.png') ((72px * 100 / (288px * (35/36))))#{"%"} ((72px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F317 {
  background: url('nature.sprites.png') ((96px * 100 / (288px * (35/36))))#{"%"} ((0px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F318 {
  background: url('nature.sprites.png') ((96px * 100 / (288px * (35/36))))#{"%"} ((24px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F319 {
  background: url('nature.sprites.png') ((96px * 100 / (288px * (35/36))))#{"%"} ((48px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F31A {
  background: url('nature.sprites.png') ((96px * 100 / (288px * (35/36))))#{"%"} ((72px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F31B {
  background: url('nature.sprites.png') ((0px * 100 / (288px * (35/36))))#{"%"} ((96px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F31C {
  background: url('nature.sprites.png') ((24px * 100 / (288px * (35/36))))#{"%"} ((96px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F31D {
  background: url('nature.sprites.png') ((48px * 100 / (288px * (35/36))))#{"%"} ((96px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F31E {
  background: url('nature.sprites.png') ((72px * 100 / (288px * (35/36))))#{"%"} ((96px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F31F {
  background: url('nature.sprites.png') ((96px * 100 / (288px * (35/36))))#{"%"} ((96px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F320 {
  background: url('nature.sprites.png') ((120px * 100 / (288px * (35/36))))#{"%"} ((0px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F327 {
  background: url('nature.sprites.png') ((120px * 100 / (288px * (35/36))))#{"%"} ((24px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F328 {
  background: url('nature.sprites.png') ((120px * 100 / (288px * (35/36))))#{"%"} ((48px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F329 {
  background: url('nature.sprites.png') ((120px * 100 / (288px * (35/36))))#{"%"} ((72px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F32A {
  background: url('nature.sprites.png') ((120px * 100 / (288px * (35/36))))#{"%"} ((96px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F32B {
  background: url('nature.sprites.png') ((0px * 100 / (288px * (35/36))))#{"%"} ((120px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F32C {
  background: url('nature.sprites.png') ((24px * 100 / (288px * (35/36))))#{"%"} ((120px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F330 {
  background: url('nature.sprites.png') ((48px * 100 / (288px * (35/36))))#{"%"} ((120px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F331 {
  background: url('nature.sprites.png') ((72px * 100 / (288px * (35/36))))#{"%"} ((120px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F332 {
  background: url('nature.sprites.png') ((96px * 100 / (288px * (35/36))))#{"%"} ((120px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F333 {
  background: url('nature.sprites.png') ((120px * 100 / (288px * (35/36))))#{"%"} ((120px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F334 {
  background: url('nature.sprites.png') ((144px * 100 / (288px * (35/36))))#{"%"} ((0px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F335 {
  background: url('nature.sprites.png') ((144px * 100 / (288px * (35/36))))#{"%"} ((24px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F337 {
  background: url('nature.sprites.png') ((144px * 100 / (288px * (35/36))))#{"%"} ((48px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F338 {
  background: url('nature.sprites.png') ((144px * 100 / (288px * (35/36))))#{"%"} ((72px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F339 {
  background: url('nature.sprites.png') ((144px * 100 / (288px * (35/36))))#{"%"} ((96px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F33A {
  background: url('nature.sprites.png') ((144px * 100 / (288px * (35/36))))#{"%"} ((120px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F33B {
  background: url('nature.sprites.png') ((0px * 100 / (288px * (35/36))))#{"%"} ((144px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F33C {
  background: url('nature.sprites.png') ((24px * 100 / (288px * (35/36))))#{"%"} ((144px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F33E {
  background: url('nature.sprites.png') ((48px * 100 / (288px * (35/36))))#{"%"} ((144px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F33F {
  background: url('nature.sprites.png') ((72px * 100 / (288px * (35/36))))#{"%"} ((144px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F340 {
  background: url('nature.sprites.png') ((96px * 100 / (288px * (35/36))))#{"%"} ((144px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F341 {
  background: url('nature.sprites.png') ((120px * 100 / (288px * (35/36))))#{"%"} ((144px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F342 {
  background: url('nature.sprites.png') ((144px * 100 / (288px * (35/36))))#{"%"} ((144px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F343 {
  background: url('nature.sprites.png') ((168px * 100 / (288px * (35/36))))#{"%"} ((0px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F344 {
  background: url('nature.sprites.png') ((168px * 100 / (288px * (35/36))))#{"%"} ((24px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F400 {
  background: url('nature.sprites.png') ((168px * 100 / (288px * (35/36))))#{"%"} ((48px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F401 {
  background: url('nature.sprites.png') ((168px * 100 / (288px * (35/36))))#{"%"} ((72px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F402 {
  background: url('nature.sprites.png') ((168px * 100 / (288px * (35/36))))#{"%"} ((96px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F403 {
  background: url('nature.sprites.png') ((168px * 100 / (288px * (35/36))))#{"%"} ((120px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F404 {
  background: url('nature.sprites.png') ((168px * 100 / (288px * (35/36))))#{"%"} ((144px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F405 {
  background: url('nature.sprites.png') ((0px * 100 / (288px * (35/36))))#{"%"} ((168px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F406 {
  background: url('nature.sprites.png') ((24px * 100 / (288px * (35/36))))#{"%"} ((168px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F407 {
  background: url('nature.sprites.png') ((48px * 100 / (288px * (35/36))))#{"%"} ((168px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F408 {
  background: url('nature.sprites.png') ((72px * 100 / (288px * (35/36))))#{"%"} ((168px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F409 {
  background: url('nature.sprites.png') ((96px * 100 / (288px * (35/36))))#{"%"} ((168px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F40A {
  background: url('nature.sprites.png') ((120px * 100 / (288px * (35/36))))#{"%"} ((168px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F40B {
  background: url('nature.sprites.png') ((144px * 100 / (288px * (35/36))))#{"%"} ((168px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F40C {
  background: url('nature.sprites.png') ((168px * 100 / (288px * (35/36))))#{"%"} ((168px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F40D {
  background: url('nature.sprites.png') ((192px * 100 / (288px * (35/36))))#{"%"} ((0px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F40E {
  background: url('nature.sprites.png') ((192px * 100 / (288px * (35/36))))#{"%"} ((24px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F40F {
  background: url('nature.sprites.png') ((192px * 100 / (288px * (35/36))))#{"%"} ((48px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F410 {
  background: url('nature.sprites.png') ((0px * 100 / (288px * (35/36))))#{"%"} ((0px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F411 {
  background: url('nature.sprites.png') ((192px * 100 / (288px * (35/36))))#{"%"} ((96px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F412 {
  background: url('nature.sprites.png') ((192px * 100 / (288px * (35/36))))#{"%"} ((120px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F413 {
  background: url('nature.sprites.png') ((192px * 100 / (288px * (35/36))))#{"%"} ((144px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F414 {
  background: url('nature.sprites.png') ((192px * 100 / (288px * (35/36))))#{"%"} ((168px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F415 {
  background: url('nature.sprites.png') ((0px * 100 / (288px * (35/36))))#{"%"} ((192px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F416 {
  background: url('nature.sprites.png') ((24px * 100 / (288px * (35/36))))#{"%"} ((192px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F417 {
  background: url('nature.sprites.png') ((48px * 100 / (288px * (35/36))))#{"%"} ((192px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F418 {
  background: url('nature.sprites.png') ((72px * 100 / (288px * (35/36))))#{"%"} ((192px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F419 {
  background: url('nature.sprites.png') ((96px * 100 / (288px * (35/36))))#{"%"} ((192px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F41A {
  background: url('nature.sprites.png') ((120px * 100 / (288px * (35/36))))#{"%"} ((192px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F41B {
  background: url('nature.sprites.png') ((144px * 100 / (288px * (35/36))))#{"%"} ((192px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F41C {
  background: url('nature.sprites.png') ((168px * 100 / (288px * (35/36))))#{"%"} ((192px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F41D {
  background: url('nature.sprites.png') ((192px * 100 / (288px * (35/36))))#{"%"} ((192px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F41E {
  background: url('nature.sprites.png') ((216px * 100 / (288px * (35/36))))#{"%"} ((0px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F41F {
  background: url('nature.sprites.png') ((216px * 100 / (288px * (35/36))))#{"%"} ((24px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F420 {
  background: url('nature.sprites.png') ((216px * 100 / (288px * (35/36))))#{"%"} ((48px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F421 {
  background: url('nature.sprites.png') ((216px * 100 / (288px * (35/36))))#{"%"} ((72px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F422 {
  background: url('nature.sprites.png') ((216px * 100 / (288px * (35/36))))#{"%"} ((96px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F423 {
  background: url('nature.sprites.png') ((216px * 100 / (288px * (35/36))))#{"%"} ((120px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F424 {
  background: url('nature.sprites.png') ((216px * 100 / (288px * (35/36))))#{"%"} ((144px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F425 {
  background: url('nature.sprites.png') ((216px * 100 / (288px * (35/36))))#{"%"} ((168px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F426 {
  background: url('nature.sprites.png') ((216px * 100 / (288px * (35/36))))#{"%"} ((192px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F427 {
  background: url('nature.sprites.png') ((0px * 100 / (288px * (35/36))))#{"%"} ((216px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F428 {
  background: url('nature.sprites.png') ((24px * 100 / (288px * (35/36))))#{"%"} ((216px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F429 {
  background: url('nature.sprites.png') ((48px * 100 / (288px * (35/36))))#{"%"} ((216px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F42A {
  background: url('nature.sprites.png') ((72px * 100 / (288px * (35/36))))#{"%"} ((216px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F42B {
  background: url('nature.sprites.png') ((96px * 100 / (288px * (35/36))))#{"%"} ((216px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F42C {
  background: url('nature.sprites.png') ((120px * 100 / (288px * (35/36))))#{"%"} ((216px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F42D {
  background: url('nature.sprites.png') ((144px * 100 / (288px * (35/36))))#{"%"} ((216px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F42E {
  background: url('nature.sprites.png') ((168px * 100 / (288px * (35/36))))#{"%"} ((216px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F42F {
  background: url('nature.sprites.png') ((192px * 100 / (288px * (35/36))))#{"%"} ((216px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F430 {
  background: url('nature.sprites.png') ((216px * 100 / (288px * (35/36))))#{"%"} ((216px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F431 {
  background: url('nature.sprites.png') ((240px * 100 / (288px * (35/36))))#{"%"} ((0px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F432 {
  background: url('nature.sprites.png') ((240px * 100 / (288px * (35/36))))#{"%"} ((24px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F433 {
  background: url('nature.sprites.png') ((240px * 100 / (288px * (35/36))))#{"%"} ((48px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F434 {
  background: url('nature.sprites.png') ((240px * 100 / (288px * (35/36))))#{"%"} ((72px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F435 {
  background: url('nature.sprites.png') ((240px * 100 / (288px * (35/36))))#{"%"} ((96px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F436 {
  background: url('nature.sprites.png') ((240px * 100 / (288px * (35/36))))#{"%"} ((120px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F437 {
  background: url('nature.sprites.png') ((240px * 100 / (288px * (35/36))))#{"%"} ((144px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F438 {
  background: url('nature.sprites.png') ((240px * 100 / (288px * (35/36))))#{"%"} ((168px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F439 {
  background: url('nature.sprites.png') ((240px * 100 / (288px * (35/36))))#{"%"} ((192px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F43A {
  background: url('nature.sprites.png') ((240px * 100 / (288px * (35/36))))#{"%"} ((216px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F43B {
  background: url('nature.sprites.png') ((0px * 100 / (288px * (35/36))))#{"%"} ((240px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F43C {
  background: url('nature.sprites.png') ((24px * 100 / (288px * (35/36))))#{"%"} ((240px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F43D {
  background: url('nature.sprites.png') ((48px * 100 / (288px * (35/36))))#{"%"} ((240px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F43E {
  background: url('nature.sprites.png') ((72px * 100 / (288px * (35/36))))#{"%"} ((240px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F43F {
  background: url('nature.sprites.png') ((96px * 100 / (288px * (35/36))))#{"%"} ((240px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F490 {
  background: url('nature.sprites.png') ((120px * 100 / (288px * (35/36))))#{"%"} ((240px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F4A6 {
  background: url('nature.sprites.png') ((144px * 100 / (288px * (35/36))))#{"%"} ((240px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F4A7 {
  background: url('nature.sprites.png') ((168px * 100 / (288px * (35/36))))#{"%"} ((240px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F4A8 {
  background: url('nature.sprites.png') ((192px * 100 / (288px * (35/36))))#{"%"} ((240px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F525 {
  background: url('nature.sprites.png') ((216px * 100 / (288px * (35/36))))#{"%"} ((240px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F577 {
  background: url('nature.sprites.png') ((240px * 100 / (288px * (35/36))))#{"%"} ((240px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F578 {
  background: url('nature.sprites.png') ((264px * 100 / (288px * (35/36))))#{"%"} ((0px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F5FB {
  background: url('nature.sprites.png') ((264px * 100 / (288px * (35/36))))#{"%"} ((24px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F5FE {
  background: url('nature.sprites.png') ((264px * 100 / (288px * (35/36))))#{"%"} ((48px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F648 {
  background: url('nature.sprites.png') ((264px * 100 / (288px * (35/36))))#{"%"} ((72px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F649 {
  background: url('nature.sprites.png') ((264px * 100 / (288px * (35/36))))#{"%"} ((96px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-1F64A {
  background: url('nature.sprites.png') ((264px * 100 / (288px * (35/36))))#{"%"} ((120px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-2600 {
  background: url('nature.sprites.png') ((264px * 100 / (288px * (35/36))))#{"%"} ((144px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-2601 {
  background: url('nature.sprites.png') ((264px * 100 / (288px * (35/36))))#{"%"} ((168px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-2614 {
  background: url('nature.sprites.png') ((264px * 100 / (288px * (35/36))))#{"%"} ((192px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-26A1 {
  background: url('nature.sprites.png') ((264px * 100 / (288px * (35/36))))#{"%"} ((216px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-26C5 {
  background: url('nature.sprites.png') ((264px * 100 / (288px * (35/36))))#{"%"} ((240px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-2744 {
  background: url('nature.sprites.png') ((0px * 100 / (288px * (35/36))))#{"%"} ((264px * 100 / (288px * (35/36))))#{"%"};
}
.emojione-2B50 {
  background: url('nature.sprites.png') ((24px * 100 / (288px * (35/36))))#{"%"} ((264px * 100 / (288px * (35/36))))#{"%"};
}
