.emojione-0023-20E3 {
  background: url('objects_symbols.sprites.png') -24px 0px;
}
.emojione-0030-20E3 {
  background: url('objects_symbols.sprites.png') -360px -168px;
}
.emojione-0031-20E3 {
  background: url('objects_symbols.sprites.png') 0px -24px;
}
.emojione-0032-20E3 {
  background: url('objects_symbols.sprites.png') -24px -24px;
}
.emojione-0033-20E3 {
  background: url('objects_symbols.sprites.png') -48px 0px;
}
.emojione-0034-20E3 {
  background: url('objects_symbols.sprites.png') -48px -24px;
}
.emojione-0035-20E3 {
  background: url('objects_symbols.sprites.png') 0px -48px;
}
.emojione-0036-20E3 {
  background: url('objects_symbols.sprites.png') -24px -48px;
}
.emojione-0037-20E3 {
  background: url('objects_symbols.sprites.png') -48px -48px;
}
.emojione-0038-20E3 {
  background: url('objects_symbols.sprites.png') -72px 0px;
}
.emojione-0039-20E3 {
  background: url('objects_symbols.sprites.png') -72px -24px;
}
.emojione-00A9 {
  background: url('objects_symbols.sprites.png') -72px -48px;
}
.emojione-00AE {
  background: url('objects_symbols.sprites.png') 0px -72px;
}
.emojione-1F170 {
  background: url('objects_symbols.sprites.png') -24px -72px;
}
.emojione-1F171 {
  background: url('objects_symbols.sprites.png') -48px -72px;
}
.emojione-1F17E {
  background: url('objects_symbols.sprites.png') -72px -72px;
}
.emojione-1F17F {
  background: url('objects_symbols.sprites.png') -96px 0px;
}
.emojione-1F18E {
  background: url('objects_symbols.sprites.png') -96px -24px;
}
.emojione-1F191 {
  background: url('objects_symbols.sprites.png') -96px -48px;
}
.emojione-1F192 {
  background: url('objects_symbols.sprites.png') -96px -72px;
}
.emojione-1F193 {
  background: url('objects_symbols.sprites.png') 0px -96px;
}
.emojione-1F194 {
  background: url('objects_symbols.sprites.png') -24px -96px;
}
.emojione-1F195 {
  background: url('objects_symbols.sprites.png') -48px -96px;
}
.emojione-1F196 {
  background: url('objects_symbols.sprites.png') -72px -96px;
}
.emojione-1F197 {
  background: url('objects_symbols.sprites.png') -96px -96px;
}
.emojione-1F198 {
  background: url('objects_symbols.sprites.png') -120px 0px;
}
.emojione-1F199 {
  background: url('objects_symbols.sprites.png') -120px -24px;
}
.emojione-1F19A {
  background: url('objects_symbols.sprites.png') -120px -48px;
}
.emojione-1F201 {
  background: url('objects_symbols.sprites.png') -120px -72px;
}
.emojione-1F202 {
  background: url('objects_symbols.sprites.png') -120px -96px;
}
.emojione-1F21A {
  background: url('objects_symbols.sprites.png') 0px -120px;
}
.emojione-1F22F {
  background: url('objects_symbols.sprites.png') -24px -120px;
}
.emojione-1F232 {
  background: url('objects_symbols.sprites.png') -48px -120px;
}
.emojione-1F233 {
  background: url('objects_symbols.sprites.png') -72px -120px;
}
.emojione-1F234 {
  background: url('objects_symbols.sprites.png') -96px -120px;
}
.emojione-1F235 {
  background: url('objects_symbols.sprites.png') -120px -120px;
}
.emojione-1F236 {
  background: url('objects_symbols.sprites.png') -144px 0px;
}
.emojione-1F237 {
  background: url('objects_symbols.sprites.png') -144px -24px;
}
.emojione-1F238 {
  background: url('objects_symbols.sprites.png') -144px -48px;
}
.emojione-1F239 {
  background: url('objects_symbols.sprites.png') -144px -72px;
}
.emojione-1F23A {
  background: url('objects_symbols.sprites.png') -144px -96px;
}
.emojione-1F250 {
  background: url('objects_symbols.sprites.png') -144px -120px;
}
.emojione-1F251 {
  background: url('objects_symbols.sprites.png') 0px -144px;
}
.emojione-1F300 {
  background: url('objects_symbols.sprites.png') -24px -144px;
}
.emojione-1F302 {
  background: url('objects_symbols.sprites.png') -48px -144px;
}
.emojione-1F321 {
  background: url('objects_symbols.sprites.png') -72px -144px;
}
.emojione-1F392 {
  background: url('objects_symbols.sprites.png') -96px -144px;
}
.emojione-1F398 {
  background: url('objects_symbols.sprites.png') -120px -144px;
}
.emojione-1F399 {
  background: url('objects_symbols.sprites.png') -144px -144px;
}
.emojione-1F39A {
  background: url('objects_symbols.sprites.png') -168px 0px;
}
.emojione-1F39B {
  background: url('objects_symbols.sprites.png') -168px -24px;
}
.emojione-1F39C {
  background: url('objects_symbols.sprites.png') -168px -48px;
}
.emojione-1F39D {
  background: url('objects_symbols.sprites.png') -168px -72px;
}
.emojione-1F3A5 {
  background: url('objects_symbols.sprites.png') -168px -96px;
}
.emojione-1F3A6 {
  background: url('objects_symbols.sprites.png') -168px -120px;
}
.emojione-1F3E7 {
  background: url('objects_symbols.sprites.png') -168px -144px;
}
.emojione-1F3F1 {
  background: url('objects_symbols.sprites.png') 0px -168px;
}
.emojione-1F3F2 {
  background: url('objects_symbols.sprites.png') -24px -168px;
}
.emojione-1F3F3 {
  background: url('objects_symbols.sprites.png') -48px -168px;
}
.emojione-1F3F4 {
  background: url('objects_symbols.sprites.png') -72px -168px;
}
.emojione-1F3F5 {
  background: url('objects_symbols.sprites.png') -96px -168px;
}
.emojione-1F3F6 {
  background: url('objects_symbols.sprites.png') -120px -168px;
}
.emojione-1F3F7 {
  background: url('objects_symbols.sprites.png') -144px -168px;
}
.emojione-1F452 {
  background: url('objects_symbols.sprites.png') -168px -168px;
}
.emojione-1F453 {
  background: url('objects_symbols.sprites.png') -192px 0px;
}
.emojione-1F454 {
  background: url('objects_symbols.sprites.png') -192px -24px;
}
.emojione-1F455 {
  background: url('objects_symbols.sprites.png') -192px -48px;
}
.emojione-1F456 {
  background: url('objects_symbols.sprites.png') -192px -72px;
}
.emojione-1F457 {
  background: url('objects_symbols.sprites.png') -192px -96px;
}
.emojione-1F458 {
  background: url('objects_symbols.sprites.png') -192px -120px;
}
.emojione-1F459 {
  background: url('objects_symbols.sprites.png') -192px -144px;
}
.emojione-1F45A {
  background: url('objects_symbols.sprites.png') -192px -168px;
}
.emojione-1F45B {
  background: url('objects_symbols.sprites.png') 0px -192px;
}
.emojione-1F45C {
  background: url('objects_symbols.sprites.png') -24px -192px;
}
.emojione-1F45D {
  background: url('objects_symbols.sprites.png') -48px -192px;
}
.emojione-1F45E {
  background: url('objects_symbols.sprites.png') -72px -192px;
}
.emojione-1F45F {
  background: url('objects_symbols.sprites.png') -96px -192px;
}
.emojione-1F460 {
  background: url('objects_symbols.sprites.png') -120px -192px;
}
.emojione-1F461 {
  background: url('objects_symbols.sprites.png') -144px -192px;
}
.emojione-1F462 {
  background: url('objects_symbols.sprites.png') -168px -192px;
}
.emojione-1F484 {
  background: url('objects_symbols.sprites.png') -192px -192px;
}
.emojione-1F488 {
  background: url('objects_symbols.sprites.png') -216px 0px;
}
.emojione-1F489 {
  background: url('objects_symbols.sprites.png') -216px -24px;
}
.emojione-1F48A {
  background: url('objects_symbols.sprites.png') -216px -48px;
}
.emojione-1F48E {
  background: url('objects_symbols.sprites.png') -216px -72px;
}
.emojione-1F4A0 {
  background: url('objects_symbols.sprites.png') -216px -96px;
}
.emojione-1F4A1 {
  background: url('objects_symbols.sprites.png') -216px -120px;
}
.emojione-1F4A2 {
  background: url('objects_symbols.sprites.png') -216px -144px;
}
.emojione-1F4A3 {
  background: url('objects_symbols.sprites.png') -216px -168px;
}
.emojione-1F4A4 {
  background: url('objects_symbols.sprites.png') -216px -192px;
}
.emojione-1F4AC {
  background: url('objects_symbols.sprites.png') 0px -216px;
}
.emojione-1F4AD {
  background: url('objects_symbols.sprites.png') -24px -216px;
}
.emojione-1F4AE {
  background: url('objects_symbols.sprites.png') -48px -216px;
}
.emojione-1F4AF {
  background: url('objects_symbols.sprites.png') -72px -216px;
}
.emojione-1F4B0 {
  background: url('objects_symbols.sprites.png') -96px -216px;
}
.emojione-1F4B1 {
  background: url('objects_symbols.sprites.png') -120px -216px;
}
.emojione-1F4B2 {
  background: url('objects_symbols.sprites.png') -144px -216px;
}
.emojione-1F4B3 {
  background: url('objects_symbols.sprites.png') -168px -216px;
}
.emojione-1F4B8 {
  background: url('objects_symbols.sprites.png') -192px -216px;
}
.emojione-1F4B9 {
  background: url('objects_symbols.sprites.png') -216px -216px;
}
.emojione-1F4BB {
  background: url('objects_symbols.sprites.png') -240px 0px;
}
.emojione-1F4BC {
  background: url('objects_symbols.sprites.png') -240px -24px;
}
.emojione-1F4BD {
  background: url('objects_symbols.sprites.png') -240px -48px;
}
.emojione-1F4BE {
  background: url('objects_symbols.sprites.png') -240px -72px;
}
.emojione-1F4BF {
  background: url('objects_symbols.sprites.png') -240px -96px;
}
.emojione-1F4C0 {
  background: url('objects_symbols.sprites.png') -240px -120px;
}
.emojione-1F4C1 {
  background: url('objects_symbols.sprites.png') -240px -144px;
}
.emojione-1F4C2 {
  background: url('objects_symbols.sprites.png') -240px -168px;
}
.emojione-1F4C3 {
  background: url('objects_symbols.sprites.png') -240px -192px;
}
.emojione-1F4C4 {
  background: url('objects_symbols.sprites.png') -240px -216px;
}
.emojione-1F4C5 {
  background: url('objects_symbols.sprites.png') 0px -240px;
}
.emojione-1F4C6 {
  background: url('objects_symbols.sprites.png') -24px -240px;
}
.emojione-1F4C7 {
  background: url('objects_symbols.sprites.png') -48px -240px;
}
.emojione-1F4C8 {
  background: url('objects_symbols.sprites.png') -72px -240px;
}
.emojione-1F4C9 {
  background: url('objects_symbols.sprites.png') -96px -240px;
}
.emojione-1F4CA {
  background: url('objects_symbols.sprites.png') -120px -240px;
}
.emojione-1F4CB {
  background: url('objects_symbols.sprites.png') -144px -240px;
}
.emojione-1F4CC {
  background: url('objects_symbols.sprites.png') -168px -240px;
}
.emojione-1F4CD {
  background: url('objects_symbols.sprites.png') -192px -240px;
}
.emojione-1F4CE {
  background: url('objects_symbols.sprites.png') -216px -240px;
}
.emojione-1F4CF {
  background: url('objects_symbols.sprites.png') -240px -240px;
}
.emojione-1F4D0 {
  background: url('objects_symbols.sprites.png') -264px 0px;
}
.emojione-1F4D1 {
  background: url('objects_symbols.sprites.png') -264px -24px;
}
.emojione-1F4D2 {
  background: url('objects_symbols.sprites.png') -264px -48px;
}
.emojione-1F4D3 {
  background: url('objects_symbols.sprites.png') -264px -72px;
}
.emojione-1F4D4 {
  background: url('objects_symbols.sprites.png') -264px -96px;
}
.emojione-1F4D5 {
  background: url('objects_symbols.sprites.png') -264px -120px;
}
.emojione-1F4D6 {
  background: url('objects_symbols.sprites.png') -264px -144px;
}
.emojione-1F4D7 {
  background: url('objects_symbols.sprites.png') -264px -168px;
}
.emojione-1F4D8 {
  background: url('objects_symbols.sprites.png') -264px -192px;
}
.emojione-1F4D9 {
  background: url('objects_symbols.sprites.png') -264px -216px;
}
.emojione-1F4DA {
  background: url('objects_symbols.sprites.png') -264px -240px;
}
.emojione-1F4DB {
  background: url('objects_symbols.sprites.png') 0px -264px;
}
.emojione-1F4DC {
  background: url('objects_symbols.sprites.png') -24px -264px;
}
.emojione-1F4DD {
  background: url('objects_symbols.sprites.png') -48px -264px;
}
.emojione-1F4DE {
  background: url('objects_symbols.sprites.png') -72px -264px;
}
.emojione-1F4DF {
  background: url('objects_symbols.sprites.png') -96px -264px;
}
.emojione-1F4E0 {
  background: url('objects_symbols.sprites.png') -120px -264px;
}
.emojione-1F4E1 {
  background: url('objects_symbols.sprites.png') -144px -264px;
}
.emojione-1F4E2 {
  background: url('objects_symbols.sprites.png') -168px -264px;
}
.emojione-1F4E3 {
  background: url('objects_symbols.sprites.png') -192px -264px;
}
.emojione-1F4E4 {
  background: url('objects_symbols.sprites.png') -216px -264px;
}
.emojione-1F4E5 {
  background: url('objects_symbols.sprites.png') -240px -264px;
}
.emojione-1F4E6 {
  background: url('objects_symbols.sprites.png') -264px -264px;
}
.emojione-1F4E7 {
  background: url('objects_symbols.sprites.png') -288px 0px;
}
.emojione-1F4E8 {
  background: url('objects_symbols.sprites.png') -288px -24px;
}
.emojione-1F4E9 {
  background: url('objects_symbols.sprites.png') -288px -48px;
}
.emojione-1F4EA {
  background: url('objects_symbols.sprites.png') -288px -72px;
}
.emojione-1F4EB {
  background: url('objects_symbols.sprites.png') -288px -96px;
}
.emojione-1F4EC {
  background: url('objects_symbols.sprites.png') -288px -120px;
}
.emojione-1F4ED {
  background: url('objects_symbols.sprites.png') -288px -144px;
}
.emojione-1F4EE {
  background: url('objects_symbols.sprites.png') -288px -168px;
}
.emojione-1F4EF {
  background: url('objects_symbols.sprites.png') -288px -192px;
}
.emojione-1F4F0 {
  background: url('objects_symbols.sprites.png') -288px -216px;
}
.emojione-1F4F1 {
  background: url('objects_symbols.sprites.png') -288px -240px;
}
.emojione-1F4F2 {
  background: url('objects_symbols.sprites.png') -288px -264px;
}
.emojione-1F4F3 {
  background: url('objects_symbols.sprites.png') 0px -288px;
}
.emojione-1F4F4 {
  background: url('objects_symbols.sprites.png') -24px -288px;
}
.emojione-1F4F5 {
  background: url('objects_symbols.sprites.png') -48px -288px;
}
.emojione-1F4F6 {
  background: url('objects_symbols.sprites.png') -72px -288px;
}
.emojione-1F4F7 {
  background: url('objects_symbols.sprites.png') -96px -288px;
}
.emojione-1F4F8 {
  background: url('objects_symbols.sprites.png') -120px -288px;
}
.emojione-1F4F9 {
  background: url('objects_symbols.sprites.png') -144px -288px;
}
.emojione-1F4FA {
  background: url('objects_symbols.sprites.png') -168px -288px;
}
.emojione-1F4FB {
  background: url('objects_symbols.sprites.png') -192px -288px;
}
.emojione-1F4FC {
  background: url('objects_symbols.sprites.png') -216px -288px;
}
.emojione-1F4FD {
  background: url('objects_symbols.sprites.png') -240px -288px;
}
.emojione-1F4FE {
  background: url('objects_symbols.sprites.png') -264px -288px;
}
.emojione-1F500 {
  background: url('objects_symbols.sprites.png') -288px -288px;
}
.emojione-1F501 {
  background: url('objects_symbols.sprites.png') -312px 0px;
}
.emojione-1F502 {
  background: url('objects_symbols.sprites.png') -312px -24px;
}
.emojione-1F503 {
  background: url('objects_symbols.sprites.png') -312px -48px;
}
.emojione-1F504 {
  background: url('objects_symbols.sprites.png') -312px -72px;
}
.emojione-1F505 {
  background: url('objects_symbols.sprites.png') -312px -96px;
}
.emojione-1F506 {
  background: url('objects_symbols.sprites.png') -312px -120px;
}
.emojione-1F507 {
  background: url('objects_symbols.sprites.png') -312px -144px;
}
.emojione-1F508 {
  background: url('objects_symbols.sprites.png') -312px -168px;
}
.emojione-1F509 {
  background: url('objects_symbols.sprites.png') -312px -192px;
}
.emojione-1F50A {
  background: url('objects_symbols.sprites.png') -312px -216px;
}
.emojione-1F50B {
  background: url('objects_symbols.sprites.png') -312px -240px;
}
.emojione-1F50C {
  background: url('objects_symbols.sprites.png') -312px -264px;
}
.emojione-1F50D {
  background: url('objects_symbols.sprites.png') -312px -288px;
}
.emojione-1F50E {
  background: url('objects_symbols.sprites.png') 0px -312px;
}
.emojione-1F50F {
  background: url('objects_symbols.sprites.png') -24px -312px;
}
.emojione-1F510 {
  background: url('objects_symbols.sprites.png') -48px -312px;
}
.emojione-1F511 {
  background: url('objects_symbols.sprites.png') -72px -312px;
}
.emojione-1F512 {
  background: url('objects_symbols.sprites.png') -96px -312px;
}
.emojione-1F513 {
  background: url('objects_symbols.sprites.png') -120px -312px;
}
.emojione-1F514 {
  background: url('objects_symbols.sprites.png') -144px -312px;
}
.emojione-1F515 {
  background: url('objects_symbols.sprites.png') -168px -312px;
}
.emojione-1F516 {
  background: url('objects_symbols.sprites.png') -192px -312px;
}
.emojione-1F517 {
  background: url('objects_symbols.sprites.png') -216px -312px;
}
.emojione-1F518 {
  background: url('objects_symbols.sprites.png') -240px -312px;
}
.emojione-1F519 {
  background: url('objects_symbols.sprites.png') -264px -312px;
}
.emojione-1F51A {
  background: url('objects_symbols.sprites.png') -288px -312px;
}
.emojione-1F51B {
  background: url('objects_symbols.sprites.png') -312px -312px;
}
.emojione-1F51C {
  background: url('objects_symbols.sprites.png') -336px 0px;
}
.emojione-1F51D {
  background: url('objects_symbols.sprites.png') -336px -24px;
}
.emojione-1F51E {
  background: url('objects_symbols.sprites.png') -336px -48px;
}
.emojione-1F51F {
  background: url('objects_symbols.sprites.png') -336px -72px;
}
.emojione-1F520 {
  background: url('objects_symbols.sprites.png') -336px -96px;
}
.emojione-1F521 {
  background: url('objects_symbols.sprites.png') -336px -120px;
}
.emojione-1F522 {
  background: url('objects_symbols.sprites.png') -336px -144px;
}
.emojione-1F523 {
  background: url('objects_symbols.sprites.png') -336px -168px;
}
.emojione-1F524 {
  background: url('objects_symbols.sprites.png') -336px -192px;
}
.emojione-1F526 {
  background: url('objects_symbols.sprites.png') -336px -216px;
}
.emojione-1F527 {
  background: url('objects_symbols.sprites.png') -336px -240px;
}
.emojione-1F528 {
  background: url('objects_symbols.sprites.png') -336px -264px;
}
.emojione-1F529 {
  background: url('objects_symbols.sprites.png') -336px -288px;
}
.emojione-1F52A {
  background: url('objects_symbols.sprites.png') -336px -312px;
}
.emojione-1F52B {
  background: url('objects_symbols.sprites.png') 0px -336px;
}
.emojione-1F52C {
  background: url('objects_symbols.sprites.png') -24px -336px;
}
.emojione-1F52D {
  background: url('objects_symbols.sprites.png') -48px -336px;
}
.emojione-1F52E {
  background: url('objects_symbols.sprites.png') -72px -336px;
}
.emojione-1F52F {
  background: url('objects_symbols.sprites.png') -96px -336px;
}
.emojione-1F530 {
  background: url('objects_symbols.sprites.png') -120px -336px;
}
.emojione-1F531 {
  background: url('objects_symbols.sprites.png') -144px -336px;
}
.emojione-1F532 {
  background: url('objects_symbols.sprites.png') -168px -336px;
}
.emojione-1F533 {
  background: url('objects_symbols.sprites.png') -192px -336px;
}
.emojione-1F534 {
  background: url('objects_symbols.sprites.png') -216px -336px;
}
.emojione-1F535 {
  background: url('objects_symbols.sprites.png') -240px -336px;
}
.emojione-1F536 {
  background: url('objects_symbols.sprites.png') -264px -336px;
}
.emojione-1F537 {
  background: url('objects_symbols.sprites.png') -288px -336px;
}
.emojione-1F538 {
  background: url('objects_symbols.sprites.png') -312px -336px;
}
.emojione-1F539 {
  background: url('objects_symbols.sprites.png') -336px -336px;
}
.emojione-1F53A {
  background: url('objects_symbols.sprites.png') -360px 0px;
}
.emojione-1F53B {
  background: url('objects_symbols.sprites.png') -360px -24px;
}
.emojione-1F53C {
  background: url('objects_symbols.sprites.png') -360px -48px;
}
.emojione-1F53D {
  background: url('objects_symbols.sprites.png') -360px -72px;
}
.emojione-1F546 {
  background: url('objects_symbols.sprites.png') -360px -96px;
}
.emojione-1F547 {
  background: url('objects_symbols.sprites.png') -360px -120px;
}
.emojione-1F548 {
  background: url('objects_symbols.sprites.png') -360px -144px;
}
.emojione-1F549 {
  background: url('objects_symbols.sprites.png') 0px 0px;
}
.emojione-1F54A {
  background: url('objects_symbols.sprites.png') -360px -192px;
}
.emojione-1F550 {
  background: url('objects_symbols.sprites.png') -360px -216px;
}
.emojione-1F551 {
  background: url('objects_symbols.sprites.png') -360px -240px;
}
.emojione-1F552 {
  background: url('objects_symbols.sprites.png') -360px -264px;
}
.emojione-1F553 {
  background: url('objects_symbols.sprites.png') -360px -288px;
}
.emojione-1F554 {
  background: url('objects_symbols.sprites.png') -360px -312px;
}
.emojione-1F555 {
  background: url('objects_symbols.sprites.png') -360px -336px;
}
.emojione-1F556 {
  background: url('objects_symbols.sprites.png') 0px -360px;
}
.emojione-1F557 {
  background: url('objects_symbols.sprites.png') -24px -360px;
}
.emojione-1F558 {
  background: url('objects_symbols.sprites.png') -48px -360px;
}
.emojione-1F559 {
  background: url('objects_symbols.sprites.png') -72px -360px;
}
.emojione-1F55A {
  background: url('objects_symbols.sprites.png') -96px -360px;
}
.emojione-1F55B {
  background: url('objects_symbols.sprites.png') -120px -360px;
}
.emojione-1F55C {
  background: url('objects_symbols.sprites.png') -144px -360px;
}
.emojione-1F55D {
  background: url('objects_symbols.sprites.png') -168px -360px;
}
.emojione-1F55E {
  background: url('objects_symbols.sprites.png') -192px -360px;
}
.emojione-1F55F {
  background: url('objects_symbols.sprites.png') -216px -360px;
}
.emojione-1F560 {
  background: url('objects_symbols.sprites.png') -240px -360px;
}
.emojione-1F561 {
  background: url('objects_symbols.sprites.png') -264px -360px;
}
.emojione-1F562 {
  background: url('objects_symbols.sprites.png') -288px -360px;
}
.emojione-1F563 {
  background: url('objects_symbols.sprites.png') -312px -360px;
}
.emojione-1F564 {
  background: url('objects_symbols.sprites.png') -336px -360px;
}
.emojione-1F565 {
  background: url('objects_symbols.sprites.png') -360px -360px;
}
.emojione-1F566 {
  background: url('objects_symbols.sprites.png') -384px 0px;
}
.emojione-1F567 {
  background: url('objects_symbols.sprites.png') -384px -24px;
}
.emojione-1F568 {
  background: url('objects_symbols.sprites.png') -384px -48px;
}
.emojione-1F569 {
  background: url('objects_symbols.sprites.png') -384px -72px;
}
.emojione-1F56A {
  background: url('objects_symbols.sprites.png') -384px -96px;
}
.emojione-1F56B {
  background: url('objects_symbols.sprites.png') -384px -120px;
}
.emojione-1F56C {
  background: url('objects_symbols.sprites.png') -384px -144px;
}
.emojione-1F56D {
  background: url('objects_symbols.sprites.png') -384px -168px;
}
.emojione-1F56E {
  background: url('objects_symbols.sprites.png') -384px -192px;
}
.emojione-1F56F {
  background: url('objects_symbols.sprites.png') -384px -216px;
}
.emojione-1F570 {
  background: url('objects_symbols.sprites.png') -384px -240px;
}
.emojione-1F571 {
  background: url('objects_symbols.sprites.png') -384px -264px;
}
.emojione-1F572 {
  background: url('objects_symbols.sprites.png') -384px -288px;
}
.emojione-1F573 {
  background: url('objects_symbols.sprites.png') -384px -312px;
}
.emojione-1F576 {
  background: url('objects_symbols.sprites.png') -384px -336px;
}
.emojione-1F579 {
  background: url('objects_symbols.sprites.png') -384px -360px;
}
.emojione-1F57B {
  background: url('objects_symbols.sprites.png') 0px -384px;
}
.emojione-1F57E {
  background: url('objects_symbols.sprites.png') -24px -384px;
}
.emojione-1F57F {
  background: url('objects_symbols.sprites.png') -48px -384px;
}
.emojione-1F581 {
  background: url('objects_symbols.sprites.png') -72px -384px;
}
.emojione-1F582 {
  background: url('objects_symbols.sprites.png') -96px -384px;
}
.emojione-1F583 {
  background: url('objects_symbols.sprites.png') -120px -384px;
}
.emojione-1F585 {
  background: url('objects_symbols.sprites.png') -144px -384px;
}
.emojione-1F586 {
  background: url('objects_symbols.sprites.png') -168px -384px;
}
.emojione-1F587 {
  background: url('objects_symbols.sprites.png') -192px -384px;
}
.emojione-1F588 {
  background: url('objects_symbols.sprites.png') -216px -384px;
}
.emojione-1F589 {
  background: url('objects_symbols.sprites.png') -240px -384px;
}
.emojione-1F58A {
  background: url('objects_symbols.sprites.png') -264px -384px;
}
.emojione-1F58B {
  background: url('objects_symbols.sprites.png') -288px -384px;
}
.emojione-1F58C {
  background: url('objects_symbols.sprites.png') -312px -384px;
}
.emojione-1F58D {
  background: url('objects_symbols.sprites.png') -336px -384px;
}
.emojione-1F5A5 {
  background: url('objects_symbols.sprites.png') -360px -384px;
}
.emojione-1F5A6 {
  background: url('objects_symbols.sprites.png') -384px -384px;
}
.emojione-1F5A7 {
  background: url('objects_symbols.sprites.png') -408px 0px;
}
.emojione-1F5A8 {
  background: url('objects_symbols.sprites.png') -408px -24px;
}
.emojione-1F5A9 {
  background: url('objects_symbols.sprites.png') -408px -48px;
}
.emojione-1F5AA {
  background: url('objects_symbols.sprites.png') -408px -72px;
}
.emojione-1F5AB {
  background: url('objects_symbols.sprites.png') -408px -96px;
}
.emojione-1F5AD {
  background: url('objects_symbols.sprites.png') -408px -120px;
}
.emojione-1F5AE {
  background: url('objects_symbols.sprites.png') -408px -144px;
}
.emojione-1F5AF {
  background: url('objects_symbols.sprites.png') -408px -168px;
}
.emojione-1F5B2 {
  background: url('objects_symbols.sprites.png') -408px -192px;
}
.emojione-1F5B3 {
  background: url('objects_symbols.sprites.png') -408px -216px;
}
.emojione-1F5B4 {
  background: url('objects_symbols.sprites.png') -408px -240px;
}
.emojione-1F5B8 {
  background: url('objects_symbols.sprites.png') -408px -264px;
}
.emojione-1F5B9 {
  background: url('objects_symbols.sprites.png') -408px -288px;
}
.emojione-1F5BC {
  background: url('objects_symbols.sprites.png') -408px -312px;
}
.emojione-1F5BD {
  background: url('objects_symbols.sprites.png') -408px -336px;
}
.emojione-1F5BE {
  background: url('objects_symbols.sprites.png') -408px -360px;
}
.emojione-1F5C0 {
  background: url('objects_symbols.sprites.png') -408px -384px;
}
.emojione-1F5C1 {
  background: url('objects_symbols.sprites.png') 0px -408px;
}
.emojione-1F5C2 {
  background: url('objects_symbols.sprites.png') -24px -408px;
}
.emojione-1F5C3 {
  background: url('objects_symbols.sprites.png') -48px -408px;
}
.emojione-1F5C4 {
  background: url('objects_symbols.sprites.png') -72px -408px;
}
.emojione-1F5C6 {
  background: url('objects_symbols.sprites.png') -96px -408px;
}
.emojione-1F5C7 {
  background: url('objects_symbols.sprites.png') -120px -408px;
}
.emojione-1F5C9 {
  background: url('objects_symbols.sprites.png') -144px -408px;
}
.emojione-1F5CA {
  background: url('objects_symbols.sprites.png') -168px -408px;
}
.emojione-1F5CE {
  background: url('objects_symbols.sprites.png') -192px -408px;
}
.emojione-1F5CF {
  background: url('objects_symbols.sprites.png') -216px -408px;
}
.emojione-1F5D0 {
  background: url('objects_symbols.sprites.png') -240px -408px;
}
.emojione-1F5D1 {
  background: url('objects_symbols.sprites.png') -264px -408px;
}
.emojione-1F5D2 {
  background: url('objects_symbols.sprites.png') -288px -408px;
}
.emojione-1F5D3 {
  background: url('objects_symbols.sprites.png') -312px -408px;
}
.emojione-1F5D4 {
  background: url('objects_symbols.sprites.png') -336px -408px;
}
.emojione-1F5D8 {
  background: url('objects_symbols.sprites.png') -360px -408px;
}
.emojione-1F5D9 {
  background: url('objects_symbols.sprites.png') -384px -408px;
}
.emojione-1F5DC {
  background: url('objects_symbols.sprites.png') -408px -408px;
}
.emojione-1F5DD {
  background: url('objects_symbols.sprites.png') -432px 0px;
}
.emojione-1F5DE {
  background: url('objects_symbols.sprites.png') -432px -24px;
}
.emojione-1F5E0 {
  background: url('objects_symbols.sprites.png') -432px -48px;
}
.emojione-1F5E1 {
  background: url('objects_symbols.sprites.png') -432px -72px;
}
.emojione-1F5E3 {
  background: url('objects_symbols.sprites.png') -432px -96px;
}
.emojione-1F5E8 {
  background: url('objects_symbols.sprites.png') -432px -120px;
}
.emojione-1F5E9 {
  background: url('objects_symbols.sprites.png') -432px -144px;
}
.emojione-1F5EA {
  background: url('objects_symbols.sprites.png') -432px -168px;
}
.emojione-1F5EB {
  background: url('objects_symbols.sprites.png') -432px -192px;
}
.emojione-1F5EC {
  background: url('objects_symbols.sprites.png') -432px -216px;
}
.emojione-1F5ED {
  background: url('objects_symbols.sprites.png') -432px -240px;
}
.emojione-1F5EE {
  background: url('objects_symbols.sprites.png') -432px -264px;
}
.emojione-1F5EF {
  background: url('objects_symbols.sprites.png') -432px -288px;
}
.emojione-1F5F0 {
  background: url('objects_symbols.sprites.png') -432px -312px;
}
.emojione-1F5F1 {
  background: url('objects_symbols.sprites.png') -432px -336px;
}
.emojione-1F5F2 {
  background: url('objects_symbols.sprites.png') -432px -360px;
}
.emojione-1F5F3 {
  background: url('objects_symbols.sprites.png') -432px -384px;
}
.emojione-1F5F4 {
  background: url('objects_symbols.sprites.png') -432px -408px;
}
.emojione-1F5F5 {
  background: url('objects_symbols.sprites.png') 0px -432px;
}
.emojione-1F5F8 {
  background: url('objects_symbols.sprites.png') -24px -432px;
}
.emojione-1F5F9 {
  background: url('objects_symbols.sprites.png') -48px -432px;
}
.emojione-1F6A9 {
  background: url('objects_symbols.sprites.png') -72px -432px;
}
.emojione-1F6AA {
  background: url('objects_symbols.sprites.png') -96px -432px;
}
.emojione-1F6AB {
  background: url('objects_symbols.sprites.png') -120px -432px;
}
.emojione-1F6AC {
  background: url('objects_symbols.sprites.png') -144px -432px;
}
.emojione-1F6AD {
  background: url('objects_symbols.sprites.png') -168px -432px;
}
.emojione-1F6AE {
  background: url('objects_symbols.sprites.png') -192px -432px;
}
.emojione-1F6AF {
  background: url('objects_symbols.sprites.png') -216px -432px;
}
.emojione-1F6B0 {
  background: url('objects_symbols.sprites.png') -240px -432px;
}
.emojione-1F6B1 {
  background: url('objects_symbols.sprites.png') -264px -432px;
}
.emojione-1F6B3 {
  background: url('objects_symbols.sprites.png') -288px -432px;
}
.emojione-1F6B7 {
  background: url('objects_symbols.sprites.png') -312px -432px;
}
.emojione-1F6B8 {
  background: url('objects_symbols.sprites.png') -336px -432px;
}
.emojione-1F6B9 {
  background: url('objects_symbols.sprites.png') -360px -432px;
}
.emojione-1F6BA {
  background: url('objects_symbols.sprites.png') -384px -432px;
}
.emojione-1F6BB {
  background: url('objects_symbols.sprites.png') -408px -432px;
}
.emojione-1F6BC {
  background: url('objects_symbols.sprites.png') -432px -432px;
}
.emojione-1F6BD {
  background: url('objects_symbols.sprites.png') -456px 0px;
}
.emojione-1F6BE {
  background: url('objects_symbols.sprites.png') -456px -24px;
}
.emojione-1F6BF {
  background: url('objects_symbols.sprites.png') -456px -48px;
}
.emojione-1F6C1 {
  background: url('objects_symbols.sprites.png') -456px -72px;
}
.emojione-1F6C6 {
  background: url('objects_symbols.sprites.png') -456px -96px;
}
.emojione-1F6C7 {
  background: url('objects_symbols.sprites.png') -456px -120px;
}
.emojione-1F6C8 {
  background: url('objects_symbols.sprites.png') -456px -144px;
}
.emojione-1F6C9 {
  background: url('objects_symbols.sprites.png') -456px -168px;
}
.emojione-1F6CA {
  background: url('objects_symbols.sprites.png') -456px -192px;
}
.emojione-1F6CC {
  background: url('objects_symbols.sprites.png') -456px -216px;
}
.emojione-1F6E0 {
  background: url('objects_symbols.sprites.png') -456px -240px;
}
.emojione-1F6E1 {
  background: url('objects_symbols.sprites.png') -456px -264px;
}
.emojione-1F6E2 {
  background: url('objects_symbols.sprites.png') -456px -288px;
}
.emojione-1F6F0 {
  background: url('objects_symbols.sprites.png') -456px -312px;
}
.emojione-203C {
  background: url('objects_symbols.sprites.png') -456px -336px;
}
.emojione-2049 {
  background: url('objects_symbols.sprites.png') -456px -360px;
}
.emojione-2122 {
  background: url('objects_symbols.sprites.png') -456px -384px;
}
.emojione-2139 {
  background: url('objects_symbols.sprites.png') -456px -408px;
}
.emojione-2194 {
  background: url('objects_symbols.sprites.png') -456px -432px;
}
.emojione-2195 {
  background: url('objects_symbols.sprites.png') 0px -456px;
}
.emojione-2196 {
  background: url('objects_symbols.sprites.png') -24px -456px;
}
.emojione-2197 {
  background: url('objects_symbols.sprites.png') -48px -456px;
}
.emojione-2198 {
  background: url('objects_symbols.sprites.png') -72px -456px;
}
.emojione-2199 {
  background: url('objects_symbols.sprites.png') -96px -456px;
}
.emojione-21A9 {
  background: url('objects_symbols.sprites.png') -120px -456px;
}
.emojione-21AA {
  background: url('objects_symbols.sprites.png') -144px -456px;
}
.emojione-231A {
  background: url('objects_symbols.sprites.png') -168px -456px;
}
.emojione-231B {
  background: url('objects_symbols.sprites.png') -192px -456px;
}
.emojione-23E9 {
  background: url('objects_symbols.sprites.png') -216px -456px;
}
.emojione-23EA {
  background: url('objects_symbols.sprites.png') -240px -456px;
}
.emojione-23EB {
  background: url('objects_symbols.sprites.png') -264px -456px;
}
.emojione-23EC {
  background: url('objects_symbols.sprites.png') -288px -456px;
}
.emojione-23F0 {
  background: url('objects_symbols.sprites.png') -312px -456px;
}
.emojione-23F3 {
  background: url('objects_symbols.sprites.png') -336px -456px;
}
.emojione-24C2 {
  background: url('objects_symbols.sprites.png') -360px -456px;
}
.emojione-25AA {
  background: url('objects_symbols.sprites.png') -384px -456px;
}
.emojione-25AB {
  background: url('objects_symbols.sprites.png') -408px -456px;
}
.emojione-25B6 {
  background: url('objects_symbols.sprites.png') -432px -456px;
}
.emojione-25C0 {
  background: url('objects_symbols.sprites.png') -456px -456px;
}
.emojione-25FB {
  background: url('objects_symbols.sprites.png') -480px 0px;
}
.emojione-25FC {
  background: url('objects_symbols.sprites.png') -480px -24px;
}
.emojione-25FD {
  background: url('objects_symbols.sprites.png') -480px -48px;
}
.emojione-25FE {
  background: url('objects_symbols.sprites.png') -480px -72px;
}
.emojione-260E {
  background: url('objects_symbols.sprites.png') -480px -96px;
}
.emojione-2611 {
  background: url('objects_symbols.sprites.png') -480px -120px;
}
.emojione-2648 {
  background: url('objects_symbols.sprites.png') -480px -144px;
}
.emojione-2649 {
  background: url('objects_symbols.sprites.png') -480px -168px;
}
.emojione-264A {
  background: url('objects_symbols.sprites.png') -480px -192px;
}
.emojione-264B {
  background: url('objects_symbols.sprites.png') -480px -216px;
}
.emojione-264C {
  background: url('objects_symbols.sprites.png') -480px -240px;
}
.emojione-264D {
  background: url('objects_symbols.sprites.png') -480px -264px;
}
.emojione-264E {
  background: url('objects_symbols.sprites.png') -480px -288px;
}
.emojione-264F {
  background: url('objects_symbols.sprites.png') -480px -312px;
}
.emojione-2650 {
  background: url('objects_symbols.sprites.png') -480px -336px;
}
.emojione-2651 {
  background: url('objects_symbols.sprites.png') -480px -360px;
}
.emojione-2652 {
  background: url('objects_symbols.sprites.png') -480px -384px;
}
.emojione-2653 {
  background: url('objects_symbols.sprites.png') -480px -408px;
}
.emojione-2660 {
  background: url('objects_symbols.sprites.png') -480px -432px;
}
.emojione-2663 {
  background: url('objects_symbols.sprites.png') -480px -456px;
}
.emojione-2665 {
  background: url('objects_symbols.sprites.png') 0px -480px;
}
.emojione-2666 {
  background: url('objects_symbols.sprites.png') -24px -480px;
}
.emojione-2668 {
  background: url('objects_symbols.sprites.png') -48px -480px;
}
.emojione-267B {
  background: url('objects_symbols.sprites.png') -72px -480px;
}
.emojione-267F {
  background: url('objects_symbols.sprites.png') -96px -480px;
}
.emojione-26A0 {
  background: url('objects_symbols.sprites.png') -120px -480px;
}
.emojione-26AA {
  background: url('objects_symbols.sprites.png') -144px -480px;
}
.emojione-26AB {
  background: url('objects_symbols.sprites.png') -168px -480px;
}
.emojione-26CE {
  background: url('objects_symbols.sprites.png') -192px -480px;
}
.emojione-26D4 {
  background: url('objects_symbols.sprites.png') -216px -480px;
}
.emojione-2702 {
  background: url('objects_symbols.sprites.png') -240px -480px;
}
.emojione-2705 {
  background: url('objects_symbols.sprites.png') -264px -480px;
}
.emojione-2709 {
  background: url('objects_symbols.sprites.png') -288px -480px;
}
.emojione-270F {
  background: url('objects_symbols.sprites.png') -312px -480px;
}
.emojione-2712 {
  background: url('objects_symbols.sprites.png') -336px -480px;
}
.emojione-2714 {
  background: url('objects_symbols.sprites.png') -360px -480px;
}
.emojione-2716 {
  background: url('objects_symbols.sprites.png') -384px -480px;
}
.emojione-2733 {
  background: url('objects_symbols.sprites.png') -408px -480px;
}
.emojione-2734 {
  background: url('objects_symbols.sprites.png') -432px -480px;
}
.emojione-2747 {
  background: url('objects_symbols.sprites.png') -456px -480px;
}
.emojione-274C {
  background: url('objects_symbols.sprites.png') -480px -480px;
}
.emojione-274E {
  background: url('objects_symbols.sprites.png') -504px 0px;
}
.emojione-2753 {
  background: url('objects_symbols.sprites.png') -504px -24px;
}
.emojione-2754 {
  background: url('objects_symbols.sprites.png') -504px -48px;
}
.emojione-2755 {
  background: url('objects_symbols.sprites.png') -504px -72px;
}
.emojione-2757 {
  background: url('objects_symbols.sprites.png') -504px -96px;
}
.emojione-2795 {
  background: url('objects_symbols.sprites.png') -504px -120px;
}
.emojione-2796 {
  background: url('objects_symbols.sprites.png') -504px -144px;
}
.emojione-2797 {
  background: url('objects_symbols.sprites.png') -504px -168px;
}
.emojione-27A1 {
  background: url('objects_symbols.sprites.png') -504px -192px;
}
.emojione-27B0 {
  background: url('objects_symbols.sprites.png') -504px -216px;
}
.emojione-27BF {
  background: url('objects_symbols.sprites.png') -504px -240px;
}
.emojione-2934 {
  background: url('objects_symbols.sprites.png') -504px -264px;
}
.emojione-2935 {
  background: url('objects_symbols.sprites.png') -504px -288px;
}
.emojione-2B05 {
  background: url('objects_symbols.sprites.png') -504px -312px;
}
.emojione-2B06 {
  background: url('objects_symbols.sprites.png') -504px -336px;
}
.emojione-2B07 {
  background: url('objects_symbols.sprites.png') -504px -360px;
}
.emojione-2B1B {
  background: url('objects_symbols.sprites.png') -504px -384px;
}
.emojione-2B1C {
  background: url('objects_symbols.sprites.png') -504px -408px;
}
.emojione-2B55 {
  background: url('objects_symbols.sprites.png') -504px -432px;
}
.emojione-3030 {
  background: url('objects_symbols.sprites.png') -504px -456px;
}
.emojione-303D {
  background: url('objects_symbols.sprites.png') -504px -480px;
}
.emojione-3297 {
  background: url('objects_symbols.sprites.png') 0px -504px;
}
.emojione-3299 {
  background: url('objects_symbols.sprites.png') -24px -504px;
}
