.emojione-1F385 {
  background: url('people.sprites.png') -24px 0px;
}
.emojione-1F440 {
  background: url('people.sprites.png') -216px -120px;
}
.emojione-1F441 {
  background: url('people.sprites.png') 0px -24px;
}
.emojione-1F442 {
  background: url('people.sprites.png') -24px -24px;
}
.emojione-1F443 {
  background: url('people.sprites.png') -48px 0px;
}
.emojione-1F444 {
  background: url('people.sprites.png') -48px -24px;
}
.emojione-1F445 {
  background: url('people.sprites.png') 0px -48px;
}
.emojione-1F446 {
  background: url('people.sprites.png') -24px -48px;
}
.emojione-1F447 {
  background: url('people.sprites.png') -48px -48px;
}
.emojione-1F448 {
  background: url('people.sprites.png') -72px 0px;
}
.emojione-1F449 {
  background: url('people.sprites.png') -72px -24px;
}
.emojione-1F44A {
  background: url('people.sprites.png') -72px -48px;
}
.emojione-1F44B {
  background: url('people.sprites.png') 0px -72px;
}
.emojione-1F44C {
  background: url('people.sprites.png') -24px -72px;
}
.emojione-1F44D {
  background: url('people.sprites.png') -48px -72px;
}
.emojione-1F44E {
  background: url('people.sprites.png') -72px -72px;
}
.emojione-1F44F {
  background: url('people.sprites.png') -96px 0px;
}
.emojione-1F450 {
  background: url('people.sprites.png') -96px -24px;
}
.emojione-1F463 {
  background: url('people.sprites.png') -96px -48px;
}
.emojione-1F464 {
  background: url('people.sprites.png') -96px -72px;
}
.emojione-1F465 {
  background: url('people.sprites.png') 0px -96px;
}
.emojione-1F466 {
  background: url('people.sprites.png') -24px -96px;
}
.emojione-1F467 {
  background: url('people.sprites.png') -48px -96px;
}
.emojione-1F468-1F468-1F466-1F466 {
  background: url('people.sprites.png') -72px -96px;
}
.emojione-1F468-1F468-1F466 {
  background: url('people.sprites.png') -96px -96px;
}
.emojione-1F468-1F468-1F467-1F466 {
  background: url('people.sprites.png') -120px 0px;
}
.emojione-1F468-1F468-1F467-1F467 {
  background: url('people.sprites.png') -120px -24px;
}
.emojione-1F468-1F468-1F467 {
  background: url('people.sprites.png') -120px -48px;
}
.emojione-1F468-1F469-1F466-1F466 {
  background: url('people.sprites.png') -120px -72px;
}
.emojione-1F468-1F469-1F467-1F466 {
  background: url('people.sprites.png') -120px -96px;
}
.emojione-1F468-1F469-1F467-1F467 {
  background: url('people.sprites.png') 0px -120px;
}
.emojione-1F468-1F469-1F467 {
  background: url('people.sprites.png') -24px -120px;
}
.emojione-1F468-2764-1F468 {
  background: url('people.sprites.png') -48px -120px;
}
.emojione-1F468-2764-1F48B-1F468 {
  background: url('people.sprites.png') -72px -120px;
}
.emojione-1F468 {
  background: url('people.sprites.png') -96px -120px;
}
.emojione-1F469-1F469-1F466-1F466 {
  background: url('people.sprites.png') -120px -120px;
}
.emojione-1F469-1F469-1F466 {
  background: url('people.sprites.png') -144px 0px;
}
.emojione-1F469-1F469-1F467-1F466 {
  background: url('people.sprites.png') -144px -24px;
}
.emojione-1F469-1F469-1F467-1F467 {
  background: url('people.sprites.png') -144px -48px;
}
.emojione-1F469-1F469-1F467 {
  background: url('people.sprites.png') -144px -72px;
}
.emojione-1F469-2764-1F469 {
  background: url('people.sprites.png') -144px -96px;
}
.emojione-1F469-2764-1F48B-1F469 {
  background: url('people.sprites.png') -144px -120px;
}
.emojione-1F469 {
  background: url('people.sprites.png') 0px -144px;
}
.emojione-1F46A {
  background: url('people.sprites.png') -24px -144px;
}
.emojione-1F46B {
  background: url('people.sprites.png') -48px -144px;
}
.emojione-1F46C {
  background: url('people.sprites.png') -72px -144px;
}
.emojione-1F46D {
  background: url('people.sprites.png') -96px -144px;
}
.emojione-1F46E {
  background: url('people.sprites.png') -120px -144px;
}
.emojione-1F46F {
  background: url('people.sprites.png') -144px -144px;
}
.emojione-1F470 {
  background: url('people.sprites.png') -168px 0px;
}
.emojione-1F471 {
  background: url('people.sprites.png') -168px -24px;
}
.emojione-1F472 {
  background: url('people.sprites.png') -168px -48px;
}
.emojione-1F473 {
  background: url('people.sprites.png') -168px -72px;
}
.emojione-1F474 {
  background: url('people.sprites.png') -168px -96px;
}
.emojione-1F475 {
  background: url('people.sprites.png') -168px -120px;
}
.emojione-1F476 {
  background: url('people.sprites.png') -168px -144px;
}
.emojione-1F477 {
  background: url('people.sprites.png') 0px -168px;
}
.emojione-1F478 {
  background: url('people.sprites.png') -24px -168px;
}
.emojione-1F479 {
  background: url('people.sprites.png') -48px -168px;
}
.emojione-1F47A {
  background: url('people.sprites.png') -72px -168px;
}
.emojione-1F47B {
  background: url('people.sprites.png') -96px -168px;
}
.emojione-1F47C {
  background: url('people.sprites.png') -120px -168px;
}
.emojione-1F47D {
  background: url('people.sprites.png') -144px -168px;
}
.emojione-1F47E {
  background: url('people.sprites.png') -168px -168px;
}
.emojione-1F47F {
  background: url('people.sprites.png') -192px 0px;
}
.emojione-1F480 {
  background: url('people.sprites.png') -192px -24px;
}
.emojione-1F481 {
  background: url('people.sprites.png') -192px -48px;
}
.emojione-1F482 {
  background: url('people.sprites.png') -192px -72px;
}
.emojione-1F485 {
  background: url('people.sprites.png') -192px -96px;
}
.emojione-1F486 {
  background: url('people.sprites.png') -192px -120px;
}
.emojione-1F487 {
  background: url('people.sprites.png') -192px -144px;
}
.emojione-1F48B {
  background: url('people.sprites.png') -192px -168px;
}
.emojione-1F48F {
  background: url('people.sprites.png') 0px -192px;
}
.emojione-1F491 {
  background: url('people.sprites.png') -24px -192px;
}
.emojione-1F4A9 {
  background: url('people.sprites.png') -48px -192px;
}
.emojione-1F4AA {
  background: url('people.sprites.png') -72px -192px;
}
.emojione-1F574 {
  background: url('people.sprites.png') -96px -192px;
}
.emojione-1F575 {
  background: url('people.sprites.png') -120px -192px;
}
.emojione-1F58E {
  background: url('people.sprites.png') -144px -192px;
}
.emojione-1F58F {
  background: url('people.sprites.png') -168px -192px;
}
.emojione-1F590 {
  background: url('people.sprites.png') -192px -192px;
}
.emojione-1F591 {
  background: url('people.sprites.png') -216px 0px;
}
.emojione-1F592 {
  background: url('people.sprites.png') -216px -24px;
}
.emojione-1F593 {
  background: url('people.sprites.png') -216px -48px;
}
.emojione-1F594 {
  background: url('people.sprites.png') -216px -72px;
}
.emojione-1F595 {
  background: url('people.sprites.png') -216px -96px;
}
.emojione-1F596 {
  background: url('people.sprites.png') 0px 0px;
}
.emojione-1F597 {
  background: url('people.sprites.png') -216px -144px;
}
.emojione-1F598 {
  background: url('people.sprites.png') -216px -168px;
}
.emojione-1F599 {
  background: url('people.sprites.png') -216px -192px;
}
.emojione-1F59E {
  background: url('people.sprites.png') 0px -216px;
}
.emojione-1F59F {
  background: url('people.sprites.png') -24px -216px;
}
.emojione-1F5E2 {
  background: url('people.sprites.png') -48px -216px;
}
.emojione-1F600 {
  background: url('people.sprites.png') -72px -216px;
}
.emojione-1F601 {
  background: url('people.sprites.png') -96px -216px;
}
.emojione-1F602 {
  background: url('people.sprites.png') -120px -216px;
}
.emojione-1F603 {
  background: url('people.sprites.png') -144px -216px;
}
.emojione-1F604 {
  background: url('people.sprites.png') -168px -216px;
}
.emojione-1F605 {
  background: url('people.sprites.png') -192px -216px;
}
.emojione-1F606 {
  background: url('people.sprites.png') -216px -216px;
}
.emojione-1F607 {
  background: url('people.sprites.png') -240px 0px;
}
.emojione-1F608 {
  background: url('people.sprites.png') -240px -24px;
}
.emojione-1F609 {
  background: url('people.sprites.png') -240px -48px;
}
.emojione-1F60A {
  background: url('people.sprites.png') -240px -72px;
}
.emojione-1F60B {
  background: url('people.sprites.png') -240px -96px;
}
.emojione-1F60C {
  background: url('people.sprites.png') -240px -120px;
}
.emojione-1F60D {
  background: url('people.sprites.png') -240px -144px;
}
.emojione-1F60E {
  background: url('people.sprites.png') -240px -168px;
}
.emojione-1F60F {
  background: url('people.sprites.png') -240px -192px;
}
.emojione-1F610 {
  background: url('people.sprites.png') -240px -216px;
}
.emojione-1F611 {
  background: url('people.sprites.png') 0px -240px;
}
.emojione-1F612 {
  background: url('people.sprites.png') -24px -240px;
}
.emojione-1F613 {
  background: url('people.sprites.png') -48px -240px;
}
.emojione-1F614 {
  background: url('people.sprites.png') -72px -240px;
}
.emojione-1F615 {
  background: url('people.sprites.png') -96px -240px;
}
.emojione-1F616 {
  background: url('people.sprites.png') -120px -240px;
}
.emojione-1F617 {
  background: url('people.sprites.png') -144px -240px;
}
.emojione-1F618 {
  background: url('people.sprites.png') -168px -240px;
}
.emojione-1F619 {
  background: url('people.sprites.png') -192px -240px;
}
.emojione-1F61A {
  background: url('people.sprites.png') -216px -240px;
}
.emojione-1F61B {
  background: url('people.sprites.png') -240px -240px;
}
.emojione-1F61C {
  background: url('people.sprites.png') -264px 0px;
}
.emojione-1F61D {
  background: url('people.sprites.png') -264px -24px;
}
.emojione-1F61E {
  background: url('people.sprites.png') -264px -48px;
}
.emojione-1F61F {
  background: url('people.sprites.png') -264px -72px;
}
.emojione-1F620 {
  background: url('people.sprites.png') -264px -96px;
}
.emojione-1F621 {
  background: url('people.sprites.png') -264px -120px;
}
.emojione-1F622 {
  background: url('people.sprites.png') -264px -144px;
}
.emojione-1F623 {
  background: url('people.sprites.png') -264px -168px;
}
.emojione-1F624 {
  background: url('people.sprites.png') -264px -192px;
}
.emojione-1F625 {
  background: url('people.sprites.png') -264px -216px;
}
.emojione-1F626 {
  background: url('people.sprites.png') -264px -240px;
}
.emojione-1F627 {
  background: url('people.sprites.png') 0px -264px;
}
.emojione-1F628 {
  background: url('people.sprites.png') -24px -264px;
}
.emojione-1F629 {
  background: url('people.sprites.png') -48px -264px;
}
.emojione-1F62A {
  background: url('people.sprites.png') -72px -264px;
}
.emojione-1F62B {
  background: url('people.sprites.png') -96px -264px;
}
.emojione-1F62C {
  background: url('people.sprites.png') -120px -264px;
}
.emojione-1F62D {
  background: url('people.sprites.png') -144px -264px;
}
.emojione-1F62E {
  background: url('people.sprites.png') -168px -264px;
}
.emojione-1F62F {
  background: url('people.sprites.png') -192px -264px;
}
.emojione-1F630 {
  background: url('people.sprites.png') -216px -264px;
}
.emojione-1F631 {
  background: url('people.sprites.png') -240px -264px;
}
.emojione-1F632 {
  background: url('people.sprites.png') -264px -264px;
}
.emojione-1F633 {
  background: url('people.sprites.png') -288px 0px;
}
.emojione-1F634 {
  background: url('people.sprites.png') -288px -24px;
}
.emojione-1F635 {
  background: url('people.sprites.png') -288px -48px;
}
.emojione-1F636 {
  background: url('people.sprites.png') -288px -72px;
}
.emojione-1F637 {
  background: url('people.sprites.png') -288px -96px;
}
.emojione-1F638 {
  background: url('people.sprites.png') -288px -120px;
}
.emojione-1F639 {
  background: url('people.sprites.png') -288px -144px;
}
.emojione-1F63A {
  background: url('people.sprites.png') -288px -168px;
}
.emojione-1F63B {
  background: url('people.sprites.png') -288px -192px;
}
.emojione-1F63C {
  background: url('people.sprites.png') -288px -216px;
}
.emojione-1F63D {
  background: url('people.sprites.png') -288px -240px;
}
.emojione-1F63E {
  background: url('people.sprites.png') -288px -264px;
}
.emojione-1F63F {
  background: url('people.sprites.png') 0px -288px;
}
.emojione-1F640 {
  background: url('people.sprites.png') -24px -288px;
}
.emojione-1F641 {
  background: url('people.sprites.png') -48px -288px;
}
.emojione-1F642 {
  background: url('people.sprites.png') -72px -288px;
}
.emojione-1F645 {
  background: url('people.sprites.png') -96px -288px;
}
.emojione-1F646 {
  background: url('people.sprites.png') -120px -288px;
}
.emojione-1F647 {
  background: url('people.sprites.png') -144px -288px;
}
.emojione-1F64B {
  background: url('people.sprites.png') -168px -288px;
}
.emojione-1F64C {
  background: url('people.sprites.png') -192px -288px;
}
.emojione-1F64D {
  background: url('people.sprites.png') -216px -288px;
}
.emojione-1F64E {
  background: url('people.sprites.png') -240px -288px;
}
.emojione-1F64F {
  background: url('people.sprites.png') -264px -288px;
}
.emojione-261D {
  background: url('people.sprites.png') -288px -288px;
}
.emojione-263A {
  background: url('people.sprites.png') -312px 0px;
}
.emojione-270A {
  background: url('people.sprites.png') -312px -24px;
}
.emojione-270B {
  background: url('people.sprites.png') -312px -48px;
}
.emojione-270C {
  background: url('people.sprites.png') -312px -72px;
}
