.emojione-1F336 {
  background: url('people.sprites.png') ((24px * 100 / (384px * (35/36))))#{"%"} ((0px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F33D {
  background: url('people.sprites.png') ((144px * 100 / (384px * (35/36))))#{"%"} ((240px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F345 {
  background: url('people.sprites.png') ((0px * 100 / (384px * (35/36))))#{"%"} ((24px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F346 {
  background: url('people.sprites.png') ((24px * 100 / (384px * (35/36))))#{"%"} ((24px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F347 {
  background: url('people.sprites.png') ((48px * 100 / (384px * (35/36))))#{"%"} ((0px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F348 {
  background: url('people.sprites.png') ((48px * 100 / (384px * (35/36))))#{"%"} ((24px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F349 {
  background: url('people.sprites.png') ((0px * 100 / (384px * (35/36))))#{"%"} ((48px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F34A {
  background: url('people.sprites.png') ((24px * 100 / (384px * (35/36))))#{"%"} ((48px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F34B {
  background: url('people.sprites.png') ((48px * 100 / (384px * (35/36))))#{"%"} ((48px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F34C {
  background: url('people.sprites.png') ((72px * 100 / (384px * (35/36))))#{"%"} ((0px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F34D {
  background: url('people.sprites.png') ((72px * 100 / (384px * (35/36))))#{"%"} ((24px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F34E {
  background: url('people.sprites.png') ((72px * 100 / (384px * (35/36))))#{"%"} ((48px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F34F {
  background: url('people.sprites.png') ((0px * 100 / (384px * (35/36))))#{"%"} ((72px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F350 {
  background: url('people.sprites.png') ((24px * 100 / (384px * (35/36))))#{"%"} ((72px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F351 {
  background: url('people.sprites.png') ((48px * 100 / (384px * (35/36))))#{"%"} ((72px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F352 {
  background: url('people.sprites.png') ((72px * 100 / (384px * (35/36))))#{"%"} ((72px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F353 {
  background: url('people.sprites.png') ((96px * 100 / (384px * (35/36))))#{"%"} ((0px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F354 {
  background: url('people.sprites.png') ((96px * 100 / (384px * (35/36))))#{"%"} ((24px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F355 {
  background: url('people.sprites.png') ((96px * 100 / (384px * (35/36))))#{"%"} ((48px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F356 {
  background: url('people.sprites.png') ((96px * 100 / (384px * (35/36))))#{"%"} ((72px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F357 {
  background: url('people.sprites.png') ((0px * 100 / (384px * (35/36))))#{"%"} ((96px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F358 {
  background: url('people.sprites.png') ((24px * 100 / (384px * (35/36))))#{"%"} ((96px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F359 {
  background: url('people.sprites.png') ((48px * 100 / (384px * (35/36))))#{"%"} ((96px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F35A {
  background: url('people.sprites.png') ((72px * 100 / (384px * (35/36))))#{"%"} ((96px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F35B {
  background: url('people.sprites.png') ((96px * 100 / (384px * (35/36))))#{"%"} ((96px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F35C {
  background: url('people.sprites.png') ((120px * 100 / (384px * (35/36))))#{"%"} ((0px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F35D {
  background: url('people.sprites.png') ((120px * 100 / (384px * (35/36))))#{"%"} ((24px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F35E {
  background: url('people.sprites.png') ((120px * 100 / (384px * (35/36))))#{"%"} ((48px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F35F {
  background: url('people.sprites.png') ((120px * 100 / (384px * (35/36))))#{"%"} ((72px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F360 {
  background: url('people.sprites.png') ((120px * 100 / (384px * (35/36))))#{"%"} ((96px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F361 {
  background: url('people.sprites.png') ((0px * 100 / (384px * (35/36))))#{"%"} ((120px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F362 {
  background: url('people.sprites.png') ((24px * 100 / (384px * (35/36))))#{"%"} ((120px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F363 {
  background: url('people.sprites.png') ((48px * 100 / (384px * (35/36))))#{"%"} ((120px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F364 {
  background: url('people.sprites.png') ((72px * 100 / (384px * (35/36))))#{"%"} ((120px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F365 {
  background: url('people.sprites.png') ((96px * 100 / (384px * (35/36))))#{"%"} ((120px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F366 {
  background: url('people.sprites.png') ((120px * 100 / (384px * (35/36))))#{"%"} ((120px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F367 {
  background: url('people.sprites.png') ((144px * 100 / (384px * (35/36))))#{"%"} ((0px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F368 {
  background: url('people.sprites.png') ((144px * 100 / (384px * (35/36))))#{"%"} ((24px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F369 {
  background: url('people.sprites.png') ((144px * 100 / (384px * (35/36))))#{"%"} ((48px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F36A {
  background: url('people.sprites.png') ((144px * 100 / (384px * (35/36))))#{"%"} ((72px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F36B {
  background: url('people.sprites.png') ((144px * 100 / (384px * (35/36))))#{"%"} ((96px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F36C {
  background: url('people.sprites.png') ((144px * 100 / (384px * (35/36))))#{"%"} ((120px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F36D {
  background: url('people.sprites.png') ((0px * 100 / (384px * (35/36))))#{"%"} ((144px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F36E {
  background: url('people.sprites.png') ((24px * 100 / (384px * (35/36))))#{"%"} ((144px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F36F {
  background: url('people.sprites.png') ((48px * 100 / (384px * (35/36))))#{"%"} ((144px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F370 {
  background: url('people.sprites.png') ((72px * 100 / (384px * (35/36))))#{"%"} ((144px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F371 {
  background: url('people.sprites.png') ((96px * 100 / (384px * (35/36))))#{"%"} ((144px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F372 {
  background: url('people.sprites.png') ((120px * 100 / (384px * (35/36))))#{"%"} ((144px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F373 {
  background: url('people.sprites.png') ((144px * 100 / (384px * (35/36))))#{"%"} ((144px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F374 {
  background: url('people.sprites.png') ((168px * 100 / (384px * (35/36))))#{"%"} ((0px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F375 {
  background: url('people.sprites.png') ((168px * 100 / (384px * (35/36))))#{"%"} ((24px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F376 {
  background: url('people.sprites.png') ((168px * 100 / (384px * (35/36))))#{"%"} ((48px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F377 {
  background: url('people.sprites.png') ((168px * 100 / (384px * (35/36))))#{"%"} ((72px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F378 {
  background: url('people.sprites.png') ((168px * 100 / (384px * (35/36))))#{"%"} ((96px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F379 {
  background: url('people.sprites.png') ((168px * 100 / (384px * (35/36))))#{"%"} ((120px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F37A {
  background: url('people.sprites.png') ((168px * 100 / (384px * (35/36))))#{"%"} ((144px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F37B {
  background: url('people.sprites.png') ((0px * 100 / (384px * (35/36))))#{"%"} ((168px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F37C {
  background: url('people.sprites.png') ((24px * 100 / (384px * (35/36))))#{"%"} ((168px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F385 {
  background: url('people.sprites.png') ((48px * 100 / (384px * (35/36))))#{"%"} ((168px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F440 {
  background: url('people.sprites.png') ((72px * 100 / (384px * (35/36))))#{"%"} ((168px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F441 {
  background: url('people.sprites.png') ((96px * 100 / (384px * (35/36))))#{"%"} ((168px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F442 {
  background: url('people.sprites.png') ((120px * 100 / (384px * (35/36))))#{"%"} ((168px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F443 {
  background: url('people.sprites.png') ((144px * 100 / (384px * (35/36))))#{"%"} ((168px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F444 {
  background: url('people.sprites.png') ((168px * 100 / (384px * (35/36))))#{"%"} ((168px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F445 {
  background: url('people.sprites.png') ((192px * 100 / (384px * (35/36))))#{"%"} ((0px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F446 {
  background: url('people.sprites.png') ((192px * 100 / (384px * (35/36))))#{"%"} ((24px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F447 {
  background: url('people.sprites.png') ((192px * 100 / (384px * (35/36))))#{"%"} ((48px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F448 {
  background: url('people.sprites.png') ((192px * 100 / (384px * (35/36))))#{"%"} ((72px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F449 {
  background: url('people.sprites.png') ((192px * 100 / (384px * (35/36))))#{"%"} ((96px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F44A {
  background: url('people.sprites.png') ((192px * 100 / (384px * (35/36))))#{"%"} ((120px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F44B {
  background: url('people.sprites.png') ((192px * 100 / (384px * (35/36))))#{"%"} ((144px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F44C {
  background: url('people.sprites.png') ((192px * 100 / (384px * (35/36))))#{"%"} ((168px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F44D {
  background: url('people.sprites.png') ((0px * 100 / (384px * (35/36))))#{"%"} ((192px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F44E {
  background: url('people.sprites.png') ((24px * 100 / (384px * (35/36))))#{"%"} ((192px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F44F {
  background: url('people.sprites.png') ((48px * 100 / (384px * (35/36))))#{"%"} ((192px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F450 {
  background: url('people.sprites.png') ((72px * 100 / (384px * (35/36))))#{"%"} ((192px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F463 {
  background: url('people.sprites.png') ((96px * 100 / (384px * (35/36))))#{"%"} ((192px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F464 {
  background: url('people.sprites.png') ((120px * 100 / (384px * (35/36))))#{"%"} ((192px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F465 {
  background: url('people.sprites.png') ((144px * 100 / (384px * (35/36))))#{"%"} ((192px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F466 {
  background: url('people.sprites.png') ((168px * 100 / (384px * (35/36))))#{"%"} ((192px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F467 {
  background: url('people.sprites.png') ((192px * 100 / (384px * (35/36))))#{"%"} ((192px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F468-1F468-1F466-1F466 {
  background: url('people.sprites.png') ((216px * 100 / (384px * (35/36))))#{"%"} ((0px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F468-1F468-1F466 {
  background: url('people.sprites.png') ((216px * 100 / (384px * (35/36))))#{"%"} ((24px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F468-1F468-1F467-1F466 {
  background: url('people.sprites.png') ((216px * 100 / (384px * (35/36))))#{"%"} ((48px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F468-1F468-1F467-1F467 {
  background: url('people.sprites.png') ((216px * 100 / (384px * (35/36))))#{"%"} ((72px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F468-1F468-1F467 {
  background: url('people.sprites.png') ((216px * 100 / (384px * (35/36))))#{"%"} ((96px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F468-1F469-1F466-1F466 {
  background: url('people.sprites.png') ((216px * 100 / (384px * (35/36))))#{"%"} ((120px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F468-1F469-1F467-1F466 {
  background: url('people.sprites.png') ((216px * 100 / (384px * (35/36))))#{"%"} ((144px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F468-1F469-1F467-1F467 {
  background: url('people.sprites.png') ((216px * 100 / (384px * (35/36))))#{"%"} ((168px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F468-1F469-1F467 {
  background: url('people.sprites.png') ((216px * 100 / (384px * (35/36))))#{"%"} ((192px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F468-2764-1F468 {
  background: url('people.sprites.png') ((0px * 100 / (384px * (35/36))))#{"%"} ((216px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F468-2764-1F48B-1F468 {
  background: url('people.sprites.png') ((24px * 100 / (384px * (35/36))))#{"%"} ((216px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F468 {
  background: url('people.sprites.png') ((48px * 100 / (384px * (35/36))))#{"%"} ((216px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F469-1F469-1F466-1F466 {
  background: url('people.sprites.png') ((72px * 100 / (384px * (35/36))))#{"%"} ((216px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F469-1F469-1F466 {
  background: url('people.sprites.png') ((96px * 100 / (384px * (35/36))))#{"%"} ((216px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F469-1F469-1F467-1F466 {
  background: url('people.sprites.png') ((120px * 100 / (384px * (35/36))))#{"%"} ((216px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F469-1F469-1F467-1F467 {
  background: url('people.sprites.png') ((144px * 100 / (384px * (35/36))))#{"%"} ((216px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F469-1F469-1F467 {
  background: url('people.sprites.png') ((168px * 100 / (384px * (35/36))))#{"%"} ((216px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F469-2764-1F469 {
  background: url('people.sprites.png') ((192px * 100 / (384px * (35/36))))#{"%"} ((216px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F469-2764-1F48B-1F469 {
  background: url('people.sprites.png') ((216px * 100 / (384px * (35/36))))#{"%"} ((216px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F469 {
  background: url('people.sprites.png') ((240px * 100 / (384px * (35/36))))#{"%"} ((0px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F46A {
  background: url('people.sprites.png') ((240px * 100 / (384px * (35/36))))#{"%"} ((24px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F46B {
  background: url('people.sprites.png') ((240px * 100 / (384px * (35/36))))#{"%"} ((48px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F46C {
  background: url('people.sprites.png') ((240px * 100 / (384px * (35/36))))#{"%"} ((72px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F46D {
  background: url('people.sprites.png') ((240px * 100 / (384px * (35/36))))#{"%"} ((96px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F46E {
  background: url('people.sprites.png') ((240px * 100 / (384px * (35/36))))#{"%"} ((120px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F46F {
  background: url('people.sprites.png') ((240px * 100 / (384px * (35/36))))#{"%"} ((144px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F470 {
  background: url('people.sprites.png') ((240px * 100 / (384px * (35/36))))#{"%"} ((168px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F471 {
  background: url('people.sprites.png') ((240px * 100 / (384px * (35/36))))#{"%"} ((192px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F472 {
  background: url('people.sprites.png') ((240px * 100 / (384px * (35/36))))#{"%"} ((216px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F473 {
  background: url('people.sprites.png') ((0px * 100 / (384px * (35/36))))#{"%"} ((240px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F474 {
  background: url('people.sprites.png') ((24px * 100 / (384px * (35/36))))#{"%"} ((240px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F475 {
  background: url('people.sprites.png') ((48px * 100 / (384px * (35/36))))#{"%"} ((240px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F476 {
  background: url('people.sprites.png') ((72px * 100 / (384px * (35/36))))#{"%"} ((240px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F477 {
  background: url('people.sprites.png') ((96px * 100 / (384px * (35/36))))#{"%"} ((240px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F478 {
  background: url('people.sprites.png') ((120px * 100 / (384px * (35/36))))#{"%"} ((240px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F479 {
  background: url('people.sprites.png') ((0px * 100 / (384px * (35/36))))#{"%"} ((0px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F47A {
  background: url('people.sprites.png') ((168px * 100 / (384px * (35/36))))#{"%"} ((240px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F47B {
  background: url('people.sprites.png') ((192px * 100 / (384px * (35/36))))#{"%"} ((240px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F47C {
  background: url('people.sprites.png') ((216px * 100 / (384px * (35/36))))#{"%"} ((240px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F47D {
  background: url('people.sprites.png') ((240px * 100 / (384px * (35/36))))#{"%"} ((240px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F47E {
  background: url('people.sprites.png') ((264px * 100 / (384px * (35/36))))#{"%"} ((0px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F47F {
  background: url('people.sprites.png') ((264px * 100 / (384px * (35/36))))#{"%"} ((24px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F480 {
  background: url('people.sprites.png') ((264px * 100 / (384px * (35/36))))#{"%"} ((48px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F481 {
  background: url('people.sprites.png') ((264px * 100 / (384px * (35/36))))#{"%"} ((72px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F482 {
  background: url('people.sprites.png') ((264px * 100 / (384px * (35/36))))#{"%"} ((96px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F485 {
  background: url('people.sprites.png') ((264px * 100 / (384px * (35/36))))#{"%"} ((120px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F486 {
  background: url('people.sprites.png') ((264px * 100 / (384px * (35/36))))#{"%"} ((144px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F487 {
  background: url('people.sprites.png') ((264px * 100 / (384px * (35/36))))#{"%"} ((168px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F48B {
  background: url('people.sprites.png') ((264px * 100 / (384px * (35/36))))#{"%"} ((192px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F48F {
  background: url('people.sprites.png') ((264px * 100 / (384px * (35/36))))#{"%"} ((216px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F491 {
  background: url('people.sprites.png') ((264px * 100 / (384px * (35/36))))#{"%"} ((240px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F4A9 {
  background: url('people.sprites.png') ((0px * 100 / (384px * (35/36))))#{"%"} ((264px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F4AA {
  background: url('people.sprites.png') ((24px * 100 / (384px * (35/36))))#{"%"} ((264px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F574 {
  background: url('people.sprites.png') ((48px * 100 / (384px * (35/36))))#{"%"} ((264px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F575 {
  background: url('people.sprites.png') ((72px * 100 / (384px * (35/36))))#{"%"} ((264px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F58E {
  background: url('people.sprites.png') ((96px * 100 / (384px * (35/36))))#{"%"} ((264px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F58F {
  background: url('people.sprites.png') ((120px * 100 / (384px * (35/36))))#{"%"} ((264px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F590 {
  background: url('people.sprites.png') ((144px * 100 / (384px * (35/36))))#{"%"} ((264px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F591 {
  background: url('people.sprites.png') ((168px * 100 / (384px * (35/36))))#{"%"} ((264px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F592 {
  background: url('people.sprites.png') ((192px * 100 / (384px * (35/36))))#{"%"} ((264px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F593 {
  background: url('people.sprites.png') ((216px * 100 / (384px * (35/36))))#{"%"} ((264px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F594 {
  background: url('people.sprites.png') ((240px * 100 / (384px * (35/36))))#{"%"} ((264px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F595 {
  background: url('people.sprites.png') ((264px * 100 / (384px * (35/36))))#{"%"} ((264px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F596 {
  background: url('people.sprites.png') ((288px * 100 / (384px * (35/36))))#{"%"} ((0px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F597 {
  background: url('people.sprites.png') ((288px * 100 / (384px * (35/36))))#{"%"} ((24px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F598 {
  background: url('people.sprites.png') ((288px * 100 / (384px * (35/36))))#{"%"} ((48px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F599 {
  background: url('people.sprites.png') ((288px * 100 / (384px * (35/36))))#{"%"} ((72px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F59E {
  background: url('people.sprites.png') ((288px * 100 / (384px * (35/36))))#{"%"} ((96px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F59F {
  background: url('people.sprites.png') ((288px * 100 / (384px * (35/36))))#{"%"} ((120px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F5E2 {
  background: url('people.sprites.png') ((288px * 100 / (384px * (35/36))))#{"%"} ((144px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F600 {
  background: url('people.sprites.png') ((288px * 100 / (384px * (35/36))))#{"%"} ((168px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F601 {
  background: url('people.sprites.png') ((288px * 100 / (384px * (35/36))))#{"%"} ((192px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F602 {
  background: url('people.sprites.png') ((288px * 100 / (384px * (35/36))))#{"%"} ((216px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F603 {
  background: url('people.sprites.png') ((288px * 100 / (384px * (35/36))))#{"%"} ((240px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F604 {
  background: url('people.sprites.png') ((288px * 100 / (384px * (35/36))))#{"%"} ((264px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F605 {
  background: url('people.sprites.png') ((0px * 100 / (384px * (35/36))))#{"%"} ((288px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F606 {
  background: url('people.sprites.png') ((24px * 100 / (384px * (35/36))))#{"%"} ((288px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F607 {
  background: url('people.sprites.png') ((48px * 100 / (384px * (35/36))))#{"%"} ((288px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F608 {
  background: url('people.sprites.png') ((72px * 100 / (384px * (35/36))))#{"%"} ((288px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F609 {
  background: url('people.sprites.png') ((96px * 100 / (384px * (35/36))))#{"%"} ((288px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F60A {
  background: url('people.sprites.png') ((120px * 100 / (384px * (35/36))))#{"%"} ((288px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F60B {
  background: url('people.sprites.png') ((144px * 100 / (384px * (35/36))))#{"%"} ((288px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F60C {
  background: url('people.sprites.png') ((168px * 100 / (384px * (35/36))))#{"%"} ((288px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F60D {
  background: url('people.sprites.png') ((192px * 100 / (384px * (35/36))))#{"%"} ((288px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F60E {
  background: url('people.sprites.png') ((216px * 100 / (384px * (35/36))))#{"%"} ((288px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F60F {
  background: url('people.sprites.png') ((240px * 100 / (384px * (35/36))))#{"%"} ((288px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F610 {
  background: url('people.sprites.png') ((264px * 100 / (384px * (35/36))))#{"%"} ((288px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F611 {
  background: url('people.sprites.png') ((288px * 100 / (384px * (35/36))))#{"%"} ((288px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F612 {
  background: url('people.sprites.png') ((312px * 100 / (384px * (35/36))))#{"%"} ((0px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F613 {
  background: url('people.sprites.png') ((312px * 100 / (384px * (35/36))))#{"%"} ((24px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F614 {
  background: url('people.sprites.png') ((312px * 100 / (384px * (35/36))))#{"%"} ((48px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F615 {
  background: url('people.sprites.png') ((312px * 100 / (384px * (35/36))))#{"%"} ((72px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F616 {
  background: url('people.sprites.png') ((312px * 100 / (384px * (35/36))))#{"%"} ((96px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F617 {
  background: url('people.sprites.png') ((312px * 100 / (384px * (35/36))))#{"%"} ((120px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F618 {
  background: url('people.sprites.png') ((312px * 100 / (384px * (35/36))))#{"%"} ((144px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F619 {
  background: url('people.sprites.png') ((312px * 100 / (384px * (35/36))))#{"%"} ((168px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F61A {
  background: url('people.sprites.png') ((312px * 100 / (384px * (35/36))))#{"%"} ((192px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F61B {
  background: url('people.sprites.png') ((312px * 100 / (384px * (35/36))))#{"%"} ((216px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F61C {
  background: url('people.sprites.png') ((312px * 100 / (384px * (35/36))))#{"%"} ((240px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F61D {
  background: url('people.sprites.png') ((312px * 100 / (384px * (35/36))))#{"%"} ((264px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F61E {
  background: url('people.sprites.png') ((312px * 100 / (384px * (35/36))))#{"%"} ((288px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F61F {
  background: url('people.sprites.png') ((0px * 100 / (384px * (35/36))))#{"%"} ((312px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F620 {
  background: url('people.sprites.png') ((24px * 100 / (384px * (35/36))))#{"%"} ((312px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F621 {
  background: url('people.sprites.png') ((48px * 100 / (384px * (35/36))))#{"%"} ((312px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F622 {
  background: url('people.sprites.png') ((72px * 100 / (384px * (35/36))))#{"%"} ((312px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F623 {
  background: url('people.sprites.png') ((96px * 100 / (384px * (35/36))))#{"%"} ((312px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F624 {
  background: url('people.sprites.png') ((120px * 100 / (384px * (35/36))))#{"%"} ((312px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F625 {
  background: url('people.sprites.png') ((144px * 100 / (384px * (35/36))))#{"%"} ((312px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F626 {
  background: url('people.sprites.png') ((168px * 100 / (384px * (35/36))))#{"%"} ((312px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F627 {
  background: url('people.sprites.png') ((192px * 100 / (384px * (35/36))))#{"%"} ((312px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F628 {
  background: url('people.sprites.png') ((216px * 100 / (384px * (35/36))))#{"%"} ((312px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F629 {
  background: url('people.sprites.png') ((240px * 100 / (384px * (35/36))))#{"%"} ((312px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F62A {
  background: url('people.sprites.png') ((264px * 100 / (384px * (35/36))))#{"%"} ((312px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F62B {
  background: url('people.sprites.png') ((288px * 100 / (384px * (35/36))))#{"%"} ((312px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F62C {
  background: url('people.sprites.png') ((312px * 100 / (384px * (35/36))))#{"%"} ((312px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F62D {
  background: url('people.sprites.png') ((336px * 100 / (384px * (35/36))))#{"%"} ((0px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F62E {
  background: url('people.sprites.png') ((336px * 100 / (384px * (35/36))))#{"%"} ((24px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F62F {
  background: url('people.sprites.png') ((336px * 100 / (384px * (35/36))))#{"%"} ((48px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F630 {
  background: url('people.sprites.png') ((336px * 100 / (384px * (35/36))))#{"%"} ((72px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F631 {
  background: url('people.sprites.png') ((336px * 100 / (384px * (35/36))))#{"%"} ((96px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F632 {
  background: url('people.sprites.png') ((336px * 100 / (384px * (35/36))))#{"%"} ((120px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F633 {
  background: url('people.sprites.png') ((336px * 100 / (384px * (35/36))))#{"%"} ((144px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F634 {
  background: url('people.sprites.png') ((336px * 100 / (384px * (35/36))))#{"%"} ((168px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F635 {
  background: url('people.sprites.png') ((336px * 100 / (384px * (35/36))))#{"%"} ((192px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F636 {
  background: url('people.sprites.png') ((336px * 100 / (384px * (35/36))))#{"%"} ((216px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F637 {
  background: url('people.sprites.png') ((336px * 100 / (384px * (35/36))))#{"%"} ((240px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F638 {
  background: url('people.sprites.png') ((336px * 100 / (384px * (35/36))))#{"%"} ((264px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F639 {
  background: url('people.sprites.png') ((336px * 100 / (384px * (35/36))))#{"%"} ((288px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F63A {
  background: url('people.sprites.png') ((336px * 100 / (384px * (35/36))))#{"%"} ((312px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F63B {
  background: url('people.sprites.png') ((0px * 100 / (384px * (35/36))))#{"%"} ((336px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F63C {
  background: url('people.sprites.png') ((24px * 100 / (384px * (35/36))))#{"%"} ((336px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F63D {
  background: url('people.sprites.png') ((48px * 100 / (384px * (35/36))))#{"%"} ((336px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F63E {
  background: url('people.sprites.png') ((72px * 100 / (384px * (35/36))))#{"%"} ((336px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F63F {
  background: url('people.sprites.png') ((96px * 100 / (384px * (35/36))))#{"%"} ((336px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F640 {
  background: url('people.sprites.png') ((120px * 100 / (384px * (35/36))))#{"%"} ((336px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F641 {
  background: url('people.sprites.png') ((144px * 100 / (384px * (35/36))))#{"%"} ((336px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F642 {
  background: url('people.sprites.png') ((168px * 100 / (384px * (35/36))))#{"%"} ((336px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F645 {
  background: url('people.sprites.png') ((192px * 100 / (384px * (35/36))))#{"%"} ((336px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F646 {
  background: url('people.sprites.png') ((216px * 100 / (384px * (35/36))))#{"%"} ((336px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F647 {
  background: url('people.sprites.png') ((240px * 100 / (384px * (35/36))))#{"%"} ((336px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F64B {
  background: url('people.sprites.png') ((264px * 100 / (384px * (35/36))))#{"%"} ((336px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F64C {
  background: url('people.sprites.png') ((288px * 100 / (384px * (35/36))))#{"%"} ((336px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F64D {
  background: url('people.sprites.png') ((312px * 100 / (384px * (35/36))))#{"%"} ((336px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F64E {
  background: url('people.sprites.png') ((336px * 100 / (384px * (35/36))))#{"%"} ((336px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-1F64F {
  background: url('people.sprites.png') ((360px * 100 / (384px * (35/36))))#{"%"} ((0px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-2615 {
  background: url('people.sprites.png') ((360px * 100 / (384px * (35/36))))#{"%"} ((24px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-261D {
  background: url('people.sprites.png') ((360px * 100 / (384px * (35/36))))#{"%"} ((48px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-263A {
  background: url('people.sprites.png') ((360px * 100 / (384px * (35/36))))#{"%"} ((72px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-270A {
  background: url('people.sprites.png') ((360px * 100 / (384px * (35/36))))#{"%"} ((96px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-270B {
  background: url('people.sprites.png') ((360px * 100 / (384px * (35/36))))#{"%"} ((120px * 100 / (360px * (35/36))))#{"%"};
}
.emojione-270C {
  background: url('people.sprites.png') ((360px * 100 / (384px * (35/36))))#{"%"} ((144px * 100 / (360px * (35/36))))#{"%"};
}
