.emojione-1F301 {
  background: url('travel_places.sprites.png') -24px 0px;
}
.emojione-1F303 {
  background: url('travel_places.sprites.png') -168px -144px;
}
.emojione-1F306 {
  background: url('travel_places.sprites.png') 0px -24px;
}
.emojione-1F307 {
  background: url('travel_places.sprites.png') -24px -24px;
}
.emojione-1F309 {
  background: url('travel_places.sprites.png') -48px 0px;
}
.emojione-1F37D {
  background: url('travel_places.sprites.png') -48px -24px;
}
.emojione-1F3D4 {
  background: url('travel_places.sprites.png') 0px -48px;
}
.emojione-1F3D5 {
  background: url('travel_places.sprites.png') -24px -48px;
}
.emojione-1F3D6 {
  background: url('travel_places.sprites.png') -48px -48px;
}
.emojione-1F3D7 {
  background: url('travel_places.sprites.png') -72px 0px;
}
.emojione-1F3D8 {
  background: url('travel_places.sprites.png') -72px -24px;
}
.emojione-1F3D9 {
  background: url('travel_places.sprites.png') -72px -48px;
}
.emojione-1F3DA {
  background: url('travel_places.sprites.png') 0px -72px;
}
.emojione-1F3DB {
  background: url('travel_places.sprites.png') -24px -72px;
}
.emojione-1F3DC {
  background: url('travel_places.sprites.png') -48px -72px;
}
.emojione-1F3DD {
  background: url('travel_places.sprites.png') -72px -72px;
}
.emojione-1F3DE {
  background: url('travel_places.sprites.png') -96px 0px;
}
.emojione-1F3DF {
  background: url('travel_places.sprites.png') -96px -24px;
}
.emojione-1F3E0 {
  background: url('travel_places.sprites.png') -96px -48px;
}
.emojione-1F3E1 {
  background: url('travel_places.sprites.png') -96px -72px;
}
.emojione-1F3E2 {
  background: url('travel_places.sprites.png') 0px -96px;
}
.emojione-1F3E3 {
  background: url('travel_places.sprites.png') -24px -96px;
}
.emojione-1F3E4 {
  background: url('travel_places.sprites.png') -48px -96px;
}
.emojione-1F3E5 {
  background: url('travel_places.sprites.png') -72px -96px;
}
.emojione-1F3E6 {
  background: url('travel_places.sprites.png') -96px -96px;
}
.emojione-1F3E8 {
  background: url('travel_places.sprites.png') -120px 0px;
}
.emojione-1F3E9 {
  background: url('travel_places.sprites.png') -120px -24px;
}
.emojione-1F3EA {
  background: url('travel_places.sprites.png') -120px -48px;
}
.emojione-1F3EB {
  background: url('travel_places.sprites.png') -120px -72px;
}
.emojione-1F3EC {
  background: url('travel_places.sprites.png') -120px -96px;
}
.emojione-1F3ED {
  background: url('travel_places.sprites.png') 0px -120px;
}
.emojione-1F3EF {
  background: url('travel_places.sprites.png') -24px -120px;
}
.emojione-1F3F0 {
  background: url('travel_places.sprites.png') -48px -120px;
}
.emojione-1F492 {
  background: url('travel_places.sprites.png') -72px -120px;
}
.emojione-1F4B4 {
  background: url('travel_places.sprites.png') -96px -120px;
}
.emojione-1F4B5 {
  background: url('travel_places.sprites.png') -120px -120px;
}
.emojione-1F4B6 {
  background: url('travel_places.sprites.png') -144px 0px;
}
.emojione-1F4B7 {
  background: url('travel_places.sprites.png') -144px -24px;
}
.emojione-1F4BA {
  background: url('travel_places.sprites.png') -144px -48px;
}
.emojione-1F5FA {
  background: url('travel_places.sprites.png') -144px -72px;
}
.emojione-1F5FC {
  background: url('travel_places.sprites.png') -144px -96px;
}
.emojione-1F5FD {
  background: url('travel_places.sprites.png') -144px -120px;
}
.emojione-1F5FF {
  background: url('travel_places.sprites.png') 0px -144px;
}
.emojione-1F680 {
  background: url('travel_places.sprites.png') -24px -144px;
}
.emojione-1F681 {
  background: url('travel_places.sprites.png') -48px -144px;
}
.emojione-1F682 {
  background: url('travel_places.sprites.png') -72px -144px;
}
.emojione-1F683 {
  background: url('travel_places.sprites.png') -96px -144px;
}
.emojione-1F684 {
  background: url('travel_places.sprites.png') -120px -144px;
}
.emojione-1F685 {
  background: url('travel_places.sprites.png') -144px -144px;
}
.emojione-1F686 {
  background: url('travel_places.sprites.png') -168px 0px;
}
.emojione-1F687 {
  background: url('travel_places.sprites.png') -168px -24px;
}
.emojione-1F688 {
  background: url('travel_places.sprites.png') -168px -48px;
}
.emojione-1F689 {
  background: url('travel_places.sprites.png') -168px -72px;
}
.emojione-1F68A {
  background: url('travel_places.sprites.png') -168px -96px;
}
.emojione-1F68B {
  background: url('travel_places.sprites.png') -168px -120px;
}
.emojione-1F68C {
  background: url('travel_places.sprites.png') 0px 0px;
}
.emojione-1F68D {
  background: url('travel_places.sprites.png') 0px -168px;
}
.emojione-1F68E {
  background: url('travel_places.sprites.png') -24px -168px;
}
.emojione-1F68F {
  background: url('travel_places.sprites.png') -48px -168px;
}
.emojione-1F690 {
  background: url('travel_places.sprites.png') -72px -168px;
}
.emojione-1F691 {
  background: url('travel_places.sprites.png') -96px -168px;
}
.emojione-1F692 {
  background: url('travel_places.sprites.png') -120px -168px;
}
.emojione-1F693 {
  background: url('travel_places.sprites.png') -144px -168px;
}
.emojione-1F694 {
  background: url('travel_places.sprites.png') -168px -168px;
}
.emojione-1F695 {
  background: url('travel_places.sprites.png') -192px 0px;
}
.emojione-1F696 {
  background: url('travel_places.sprites.png') -192px -24px;
}
.emojione-1F697 {
  background: url('travel_places.sprites.png') -192px -48px;
}
.emojione-1F698 {
  background: url('travel_places.sprites.png') -192px -72px;
}
.emojione-1F699 {
  background: url('travel_places.sprites.png') -192px -96px;
}
.emojione-1F69A {
  background: url('travel_places.sprites.png') -192px -120px;
}
.emojione-1F69B {
  background: url('travel_places.sprites.png') -192px -144px;
}
.emojione-1F69C {
  background: url('travel_places.sprites.png') -192px -168px;
}
.emojione-1F69D {
  background: url('travel_places.sprites.png') 0px -192px;
}
.emojione-1F69E {
  background: url('travel_places.sprites.png') -24px -192px;
}
.emojione-1F69F {
  background: url('travel_places.sprites.png') -48px -192px;
}
.emojione-1F6A0 {
  background: url('travel_places.sprites.png') -72px -192px;
}
.emojione-1F6A1 {
  background: url('travel_places.sprites.png') -96px -192px;
}
.emojione-1F6A2 {
  background: url('travel_places.sprites.png') -120px -192px;
}
.emojione-1F6A4 {
  background: url('travel_places.sprites.png') -144px -192px;
}
.emojione-1F6A5 {
  background: url('travel_places.sprites.png') -168px -192px;
}
.emojione-1F6A6 {
  background: url('travel_places.sprites.png') -192px -192px;
}
.emojione-1F6A7 {
  background: url('travel_places.sprites.png') -216px 0px;
}
.emojione-1F6A8 {
  background: url('travel_places.sprites.png') -216px -24px;
}
.emojione-1F6B2 {
  background: url('travel_places.sprites.png') -216px -48px;
}
.emojione-1F6C2 {
  background: url('travel_places.sprites.png') -216px -72px;
}
.emojione-1F6C3 {
  background: url('travel_places.sprites.png') -216px -96px;
}
.emojione-1F6C4 {
  background: url('travel_places.sprites.png') -216px -120px;
}
.emojione-1F6C5 {
  background: url('travel_places.sprites.png') -216px -144px;
}
.emojione-1F6CB {
  background: url('travel_places.sprites.png') -216px -168px;
}
.emojione-1F6CD {
  background: url('travel_places.sprites.png') -216px -192px;
}
.emojione-1F6CE {
  background: url('travel_places.sprites.png') 0px -216px;
}
.emojione-1F6CF {
  background: url('travel_places.sprites.png') -24px -216px;
}
.emojione-1F6E3 {
  background: url('travel_places.sprites.png') -48px -216px;
}
.emojione-1F6E4 {
  background: url('travel_places.sprites.png') -72px -216px;
}
.emojione-1F6E5 {
  background: url('travel_places.sprites.png') -96px -216px;
}
.emojione-1F6E6 {
  background: url('travel_places.sprites.png') -120px -216px;
}
.emojione-1F6E7 {
  background: url('travel_places.sprites.png') -144px -216px;
}
.emojione-1F6E8 {
  background: url('travel_places.sprites.png') -168px -216px;
}
.emojione-1F6E9 {
  background: url('travel_places.sprites.png') -192px -216px;
}
.emojione-1F6EA {
  background: url('travel_places.sprites.png') -216px -216px;
}
.emojione-1F6EB {
  background: url('travel_places.sprites.png') -240px 0px;
}
.emojione-1F6EC {
  background: url('travel_places.sprites.png') -240px -24px;
}
.emojione-1F6F1 {
  background: url('travel_places.sprites.png') -240px -48px;
}
.emojione-1F6F2 {
  background: url('travel_places.sprites.png') -240px -72px;
}
.emojione-1F6F3 {
  background: url('travel_places.sprites.png') -240px -96px;
}
.emojione-2693 {
  background: url('travel_places.sprites.png') -240px -120px;
}
.emojione-26EA {
  background: url('travel_places.sprites.png') -240px -144px;
}
.emojione-26F2 {
  background: url('travel_places.sprites.png') -240px -168px;
}
.emojione-26F5 {
  background: url('travel_places.sprites.png') -240px -192px;
}
.emojione-26FD {
  background: url('travel_places.sprites.png') -240px -216px;
}
.emojione-2708 {
  background: url('travel_places.sprites.png') 0px -240px;
}
